html[data-suite-theme] {
  ._2nB0NFT4 {
    background-color: #181a21;
  }

  .\@navigationItem\@ {
    color: #98a1b1;
  }

  .\@activeNavigationItem\@ {
    color: #fff;
  }

  .\@activeNavigationItem\@ .\@navigationItemIcon\@ {
    color: #009fdf;
  }

  ._2nB0NFT4 .\@orderButton\@ {
    color: #fff;
  }
}
