html[data-suite-theme] {
  @deposit:transferOption@ {
    border-bottom-color: #d4d4d4;
    color: rgba(0, 0, 0, 0.55);
  }

  @deposit:transferOptionTitle@ {
    color: #000;
  }

  @input:inputFieldLayout@ {
    background-color: #f3f4f5;
  }

  @input:inputFieldLayout@:focus-within,
  @input:focusedInputFieldLayout@ {
    background-color: #fff;
  }

  @input:inputFieldLayout@:not(@input:invalidInputFieldLayout@):focus-within,
  @input:focusedInputFieldLayout@ {
    border-color: #009fdf;
  }

  @input:invalidInputFieldLayout@ {
    border-color: #e6605c;
  }

  @input:inputFieldControl@ {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  @buttons-group:buttonsGroup@ {
    background-color: #f3f4f5;
  }

  @buttons-group:buttonsGroupItem@ {
    border-left-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    @buttons-group:buttonsGroupItem@:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  @order-form:warningBox@ + @order-form:warningBox@ {
    border-top-color: #e8e8e8;
  }
}
