html[data-suite-theme] {
  @order-form:warningBox@ + @order-form:warningBox@ {
    border-top-color: #e8e8e8;
  }

  @common-order-form:productChangeButton@ {
    color: #009fdf;
  }

  ._2EfoFDd6 @common-order-form:fieldSelect@ @common-order-form:fieldSelectControlWithError@ {
    border-color: #e6605c;
  }

  @common-order-form:orderActionButton@ {
    border-color: #e8e8e8;
  }

  @common-order-form:orderActionButton@:not(:first-child) {
    border-left: 0;
  }

  @common-order-form:orderActionButton@:focus {
    border-color: #009fdf;
  }

  @common-order-form:orderActionButton@[disabled] {
    color: #fff;
  }

  .u-OZX1IW {
    color: #00a658;
  }

  ._2opx293R {
    color: #e6605c;
  }

  .u-OZX1IW[disabled] {
    background-color: #00a658;
    border-color: #00a658;
  }

  ._2opx293R[disabled] {
    background-color: #e6605c;
    border-color: #e6605c;
  }

  @input:inputFieldLayout@ {
    background-color: #f3f4f5;
  }

  @input:inputFieldLayout@:focus-within,
  @input:focusedInputFieldLayout@ {
    background-color: #fff;
  }

  @input:inputFieldLayout@:not(@input:invalidInputFieldLayout@):focus-within,
  @input:focusedInputFieldLayout@ {
    border-color: #009fdf;
  }

  @input:invalidInputFieldLayout@ {
    border-color: #e6605c;
  }

  @input:inputFieldControl@ {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  @order-confirmation:documentsInfo@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @order-confirmation-fees:feesHeader@ {
    color: #000;
  }

  @search:inputFieldLayout@ @search:inputField@ {
    background-color: inherit;
  }

  @media (pointer: fine), all and (pointer: none) {
    @search:inputFieldLayout@ @search:inputField@:focus {
      background-color: inherit;
    }
  }

  @list:groupDivider@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @list:item@,
  @list:underlinedItem@ {
    border-bottom-color: #e8e8e8;
  }

  @list:item@:not(@list:underlinedItem@):last-child {
    border-bottom-color: transparent;
  }

  @list:selectedItem@ {
    background-color: #f7f8f9;
  }

  @list:list@ @list:selectedItem@:after,
  @list:list@ @list:hoverableItem@:after {
    background-color: inherit;
  }

  @list:subContent@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    @list:hoverableItem@:hover,
    @list:item@:focus {
      background-color: #e4f4fb;
    }
  }

  @alternative-order-selector:optionsList@ {
    background-color: #fff;
    border-color: #d4d4d4;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    color: #000;
  }

  @alternative-order-selector:optionItem@:focus,
  @alternative-order-selector:optionItem@:hover {
    background-color: #e4f4fb;
  }

  @order-product-search:emptyResultsMessage@ {
    color: rgba(0, 0, 0, 0.55);
  }
}
