html[data-suite-theme] {
  ._8UmNn1vK {
    color: rgba(0, 0, 0, 0.55);
  }

  .FTDOIjUm {
    color: #ffb300;
  }

  @form:rateInput@ {
    background: transparent;
  }

  @form:commentField@ {
    border-color: #d4d4d4;
  }

  @form:formDescription@ {
    color: rgba(0, 0, 0, 0.55);
  }
}
