html[data-suite-theme] {
  @full-view:agendaHeaderCompactView@ .SRKeLvAF {
    background-color: #fafafa;
  }

  ._1UIli3mH:first-child .SRKeLvAF {
    border-top: 0;
  }

  @full-view:groupedCellDivider@ {
    background-color: #edeff1;
  }

  ._1UIli3mH:not(@full-view:selectedRow@):nth-child(odd) ._3jr4aOva:not(.SRKeLvAF),
  ._1UIli3mH:not(@full-view:selectedRow@):nth-child(odd) .ZSFu57um:not(.SRKeLvAF) {
    background-color: #fff;
  }

  @full-view:disabledCompanyNameCell@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @country-flag:flag@ {
    border-color: #d4d4d4;
    object-fit: cover;
  }

  @country-flag:flag@@country-flag:noBorder@ {
    border-color: transparent;
  }

  ._3N8OmG8V {
    background-color: #333;
  }

  @media (pointer: fine), all and (pointer: none) {
    @product-details-hint:icon@:hover {
      color: #009fdf;
    }
  }

  @agenda-holidays-full-view:countryCell@ {
    border-right-color: #e8e8e8;
  }

  @agenda-holidays-full-view:exchangesDisclaimer@ {
    background-color: #fff;
  }
}
