html[data-suite-theme] {
  ._3N8OmG8V {
    background-color: #333;
  }

  @media (pointer: fine), all and (pointer: none) {
    @product-details-hint:icon@:hover {
      color: #009fdf;
    }
  }

  @product-price-range:priceRange@ {
    border-top-color: #e8e8e8;
  }

  @product-price-range:sliderTrack@ {
    background-color: #009fdf;
  }

  @product-price-range:sliderThumbToggle@ {
    background-color: #009fdf;
    border-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  @product-price-range:priceRangeAmount@ {
    color: #009fdf;
  }

  @product-price-range:compactPrice52WeekRangeAmount@ {
    border-top-color: #e8e8e8;
  }

  @product-price-range:priceRangeDateValue@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @accordion-item:item@ {
    border-bottom-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    @card-header-hint-button:button@:hover @card-header-hint-button:icon@ {
      color: #009fdf;
    }
  }
}
