html[data-suite-theme] {
  @note-textarea:wrapper@ {
    outline-color: #e8e8e8;
  }

  @note-textarea:wrapper@:focus-within {
    outline-color: #009fdf;
  }

  @note-textarea:textarea@ {
    background: transparent;
  }

  @note-textarea:fakeText@ {
    color: transparent;
  }

  @note-textarea:fakeTextErrorPart@ {
    background-color: #e6605c;
  }

  @note-textarea:counterError@ {
    color: #e6605c;
  }

  @button:button@:disabled {
    background: inherit;
    color: #000;
  }

  @button:button@:hover {
    background-color: #f3f4f5;
  }

  @button:button@:focus {
    border-color: #009fdf;
    color: #009fdf;
    outline: none;
  }

  @button:primaryButton@ {
    background-color: #009fdf;
    color: #fff;
  }

  @button:primaryButton@:hover {
    background-color: #007bc2;
  }

  @button:primaryButton@:focus {
    background-color: #e4f4fb;
    color: #007bc2;
  }

  @product-notes:productNote@:focus {
    outline-color: #009fdf;
  }

  @product-notes:noteSection@ {
    background-color: #f3f4f5;
  }

  @product-notes:timeStamp@ {
    color: #ababab;
  }

  @product-notes:serviceMessageWarning@ {
    color: #009fdf;
  }

  @product-notes:serviceMessageError@ {
    color: #e6605c;
  }
}
