html[data-suite-theme] {
  @bar-chart:chartText@ {
    fill: rgba(0, 0, 0, 0.55);
  }

  @bar-chart:chartGridLine@ {
    stroke: #e8e8e8;
  }

  @bar-chart:chartTextNoData@ {
    fill: rgba(0, 0, 0, 0.55);
  }

  @chart-legend:chartLegendItem@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @no-data-message:noDataToDisplay@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @analyst-rating:analystRatingContainer@ {
    background-color: #fafafa;
    border-color: #d4d4d4;
  }

  @analyst-rating:analystRatingScale@ {
    background: linear-gradient(90deg, #00a658, #d4d4d4 50%, #e6605c);
  }

  @analyst-rating:axisLabel@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @analyst-rating:currentValuePointer@ {
    color: #fff;
  }

  @analyst-rating:currentValuePointer@,
  @analyst-rating:currentValuePointer@:after {
    background-color: #000;
  }
}
