html[data-suite-theme] {
  @alerts:alertBackdrop@ {
    background-color: #fff;
  }

  @alerts:closeButton@ {
    color: #ababab;
  }

  @opened-tasks-alert:alert@ {
    background-color: #181a21;
    color: #fff;
  }

  ._2snNLmel {
    background: #fff;
  }

  @product-details:stickyHeader@ {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .HYW76b34 {
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  @product-details-header:header@ {
    background-color: #fff;
  }

  @product-details-header:breadcrumbs@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @product-details-header:breadcrumbsProductBrief@,
  @product-details-header:breadcrumbsBackButton@ {
    color: #000;
  }

  ._1JPj7mYU {
    background-color: #fff;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8;
  }

  ._3sp9rzcO {
    color: #000;
  }

  @sub-navigation:activeNavigationItem@ {
    color: #009fdf;
  }

  @sub-navigation:activeNavigationItem@:after {
    background-color: #009fdf;
  }
}
