html[data-suite-theme] {
  @product-tour:salutationModalContent@ b {
    color: #007bc2;
  }

  @product-tour:popupArrow@ {
    border-bottom-color: #fff;
    border-left-color: transparent;
    border-right-color: transparent;
  }

  @product-tour:header@ {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3XxpCQ5H {
    background-color: #d4d4d4;
  }

  ._3_8LzFwY {
    background-color: #009fdf;
  }

  @product-tour:focusedElement@ {
    box-shadow: 0 0 8px 4px #009fdf !important;
  }

  [href]@product-tour:focusedElement@ {
    color: #fff !important;
  }
}
