html[data-suite-theme] {
  .HNj2UG1r {
    background-color: #fff;
    border-bottom-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.55);
  }

  @breadcrumbs:selectedNavigationItem@ {
    color: #000;
  }

  @trading-profile:profileCard@ {
    border-color: #d4d4d4;
  }

  @trading-profile:profileCard@@trading-profile:selectedProfileCard@ {
    border-color: #00a658;
  }

  @trading-profile:limitationItem@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @trading-profile:limitationItem@ @trading-profile:statusIcon@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @trading-profile:featureItem@ @trading-profile:statusIcon@ {
    color: #009fdf;
  }

  @trading-profile:selectedProfileCard@ @trading-profile:featureItem@ @trading-profile:statusIcon@ {
    color: #008753;
  }

  @list:groupDivider@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @list:item@,
  @list:underlinedItem@ {
    border-bottom-color: #e8e8e8;
  }

  @list:item@:not(@list:underlinedItem@):last-child {
    border-bottom-color: transparent;
  }

  @list:selectedItem@ {
    background-color: #f7f8f9;
  }

  @list:list@ @list:selectedItem@:after,
  @list:list@ @list:hoverableItem@:after {
    background-color: inherit;
  }

  @list:subContent@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    @list:hoverableItem@:hover,
    @list:item@:focus {
      background-color: #e4f4fb;
    }
  }

  @switch:track@ {
    background-color: #d4d4d4;
  }

  @switch:thumb@ {
    background-color: #f3f4f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  @switch:checkbox@:checked ~ @switch:track@ {
    background-color: #009fdf;
  }

  @switch:checkbox@:checked ~ @switch:thumb@ {
    background-color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    @switch:checkbox@:focus ~ @switch:thumb@ {
      background-color: #fff;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
    @switch:checkbox@:checked:focus ~ @switch:thumb@ {
      background-color: #009fdf;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
  }

  @info-table:cell@ {
    border-bottom-color: #e8e8e8;
  }

  ._2JV9SF6_ {
    color: rgba(0, 0, 0, 0.55);
  }
}
