// Any unchanged properties are commented for now. Maybe remove them later.

html[data-suite-theme] {
  .QxZy6s_V {
    filter: var(--suite-theme-login-logo-filter) !important;
  }

  ._2b904SBi {
    color: var(--suite-theme-color) !important;
  }

  ._2yZHs4iT {
    color: var(--suite-theme-color) !important;
  }

  ._33YMireY {
    color: var(--suite-theme-color) !important;
  }

  ._3yWsNwyD {
    color: var(--suite-theme-color) !important;
  }

  // ._3EP9ApGu {
  //   color: #2ecc71 !important;
  // }

  // ._3bcExoP_ {
  //   color: #e5231f !important;
  // }

  body .spinner {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  body {
    background-color: var(--suite-theme-bg) !important;
    color: var(--suite-theme-color) !important;
  }

  .V369L4Lq,
  a {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  // input::-ms-value,
  // select::-ms-value,
  // textarea::-ms-value {
  //   background-color: inherit !important;
  // }

  // input:-webkit-autofill {
  //   background-color: transparent !important !important;
  // }

  // button {
  //   background-color: transparent !important;
  // }

  // ._3qOjVCA9 {
  //   fill: currentColor !important;
  // }

  // ._1KJUWku- {
  //   background-color: rgba(0, 23, 34, 0.6) !important;
  // }

  .iImY3xeh {
    background-color: var(--suite-theme-bg) !important;
  }

  // ._1aOjAzVZ {
  //   color: #000 !important;
  // }

  // ._1LwT17FC {
  //   color: #e5231f !important;
  // }

  .emxZ8a_C {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  // ._2HBsj-HV {
  //   background-color: #e5231f !important;
  // }

  // ._3pXInOYV {
  //   background-color: #f89406 !important;
  // }

  // ._3BXRfRRY {
  //   color: #fff !important;
  // }

  ._3nx04Jq5 {
    color: var(--suite-theme-color) !important;
  }

  ._3j79Qr2T {
    background: none !important;
    border-top-color: var(--suite-theme-border-color) !important;
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3j79Qr2T:nth-child(3n-1) {
    border-left-color: var(--suite-theme-border-color) !important;
  }

  ._2Y5bJ8HD {
    border-bottom-color: var(--suite-theme-border-color) !important;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1) !important;
  }

  @media (min-width: 500px) {
    .HzuOhgui {
      background-color: var(--suite-theme-color) !important;
    }
  }

  ._2hOXZdLb {
    background-color: var(--suite-theme-border-color) !important;
  }

  .Owpl-wwx {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1EEaqLAc {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: var(--suite-theme-color-accent-fg) !important;
  }

  // ._2tgaaLak {
  //   background-color: #9aa9b7 !important;
  //   color: #fff !important;
  // }

  .Wnbra79t {
    // background-color: transparent !important;
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2p5qWLSy:last-child {
    background-color: var(--suite-theme-bg) !important;
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._31zBDXQN {
    background-color: var(--suite-theme-color-accent-bg) !important;
    // color: #fff !important;
  }

  ._3qG1CsaZ {
    // background-color: rgba(242, 137, 46, 0.14) !important;
    background-color: var(--suite-theme-bg-lite) !important;
  }

  // ._31zBDXQN ._3sZKvny0 {
  //   color: currentColor !important;
  // }

  // ._3qG1CsaZ ._3sZKvny0 {
  //   color: #f89406 !important;
  // }

  // ._33xZZC6S {
  //   color: currentColor !important;
  // }

  // ._3bZFQtXw {
  //   background: transparent !important;
  //   color: currentColor !important;
  // }

  // ._2bCX4v_d {
  //   color: #e5231f !important;
  // }

  // ._3o_m96Y4 {
  //   color: #9aa9b7 !important;
  // }

  // ._7HO4Le6K {
  //   color: #9aa9b7 !important;
  // }

  ._23hICSSF {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._2JaEHQGp {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2JaEHQGp:after {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3A39h7WD {
    // background: transparent !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._3A39h7WD:active {
    background-color: var(--suite-theme-border-color) !important;
  }

  // ._3A39h7WD:nth-child(10),
  // ._3A39h7WD:nth-child(12) {
  //   border-bottom-color: transparent !important;
  // }

  ._1-D85oBC {
    color: var(--suite-theme-color) !important;
  }

  ._255dB75- {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .GrGPQSOP {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  // .ZmefKW3- {
  //   color: #9aa9b7 !important;
  // }

  .mvX7z6Bb {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 0 16px 1px var(--suite-theme-color-accent-bg) !important;
  }

  .aRK9EO0B {
    border-color: var(--suite-theme-border-color) !important;
    color: var(--suite-theme-color) !important;
    background-color: var(--suite-theme-bg-lite) !important;
  }

  .aRK9EO0B:focus {
    border-color: var(--suite-theme-color-accent-bg) !important;
    box-shadow: inset 0 0 0 1px var(--suite-theme-color-accent-bg) !important;
  }

  // ._2nfAQijt {
  //   border-color: #e5231f !important;
  //   box-shadow: inset 0 0 0 1px #e5231f !important;
  // }

  ._1_wNBTPG {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  // ._1YeleNA1 {
  //   color: #e5231f !important;
  // }

  // ._1atihC2l {
  //   caret-color: inherit !important;
  //   color: #9aa9b7 !important;
  // }

  // @media (any-hover: hover),
  //   all and (-moz-touch-enabled: 0),
  //   all and (pointer: fine) {
  //   ._3j7COas4:focus {
  //     background-color: rgba(0, 0, 0, 0.1) !important;
  //   }
  // }

  // ._3nsvRz94:-webkit-autofill {
  //   box-shadow: inset 0 0 0 992px #fff !important;
  // }

  // ._3Qndw_FX {
  //   color: #9aa9b7 !important;
  // }

  @media (any-hover: hover),
    all and (-moz-touch-enabled: 0),
    all and (pointer: fine) {
    ._3Qndw_FX:hover {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  // ._37ve3Ur8 {
  //   color: #9aa9b7 !important;
  // }

  // ._34BOAy60 {
  //   color: #2ecc71 !important;
  // }

  ._1BTKaVpC {
    background: transparent !important;
    color: var(--suite-theme-color-accent-bg) !important;
  }

  // ._1BTKaVpC + ._1BTKaVpC {
  //   color: #9aa9b7 !important;
  // }
}
