html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  ._2M-TmtZI {
    color: #009fdf !important;
  }

  ._2M-TmtZI:after {
    background-color: #009fdf !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._1-qPS-1K {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: #009fdf !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._2IXrK1CA {
    background-color: #f3f4f5 !important;
  }

  .V09i3yvL {
    border-left-color: #e8e8e8 !important;
  }

  .V09i3yvL:first-child {
    border-left: 0 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .V09i3yvL:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  ._1KhdrThW:focus + .Qgbk06Ib {
    color: #009fdf !important;
  }

  .wKb4xEDK {
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  ._3W5tpmzT {
    background-color: #009fdf !important;
    color: #fff !important;
  }

  ._1xTj_g_w[disabled],
  ._3ikYP1Sz[disabled],
  ._3sBaDV1Z[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1xTj_g_w:not([disabled]):not(._3W5tpmzT):hover,
    ._3ikYP1Sz:not([disabled]):hover {
      background-color: #f3f4f5 !important;
    }
  }

  .IIr0vEtl {
    border-bottom-color: #e8e8e8 !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  .fC_Qu6kY {
    background-color: #d4d4d4 !important;
  }

  ._2IQ4pEdI {
    background-color: #f3f4f5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .b1W6H4_a:checked ~ .fC_Qu6kY {
    background-color: #009fdf !important;
  }

  .b1W6H4_a:checked ~ ._2IQ4pEdI {
    background-color: #009fdf !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .b1W6H4_a:focus ~ ._2IQ4pEdI {
      background-color: #fff !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
    .b1W6H4_a:checked:focus ~ ._2IQ4pEdI {
      background-color: #009fdf !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
  }

  ._1EWp8hdR {
    border-bottom-color: #e8e8e8 !important;
  }

  ._19tVoLhw {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._316S4p2b {
    color: #000 !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: #009fdf !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: #000 !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: #009fdf !important;
  }
}
