html[data-suite-theme] {
  button {
    background: transparent !important;
  }

  button[disabled] {
    background-color: #d4d4d4 !important;
    color: #fff !important;
  }

  input::-ms-value,
  select::-ms-value,
  textarea::-ms-value {
    background-color: inherit !important;
  }

  input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  input:-webkit-autofill {
    background-color: transparent !important !important;
  }

  input[disabled]::-moz-placeholder,
  input[readonly]::-moz-placeholder {
    color: #d4d4d4 !important;
  }

  input[disabled],
  input[disabled]::placeholder,
  input[readonly],
  input[readonly]::placeholder {
    color: #d4d4d4 !important;
  }

  body,
  html {
    background-color: #fff !important;
  }

  ._3qOjVCA9 {
    fill: currentColor !important;
  }

  ._2wiHXP95 svg {
    fill: currentColor !important;
  }

  ._1PbPcuTx {
    color: #009fdf !important;
  }

  ._1e_5ibvk {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3kdA-VsS {
    color: #d4d4d4 !important;
  }

  ._3FmQikJc {
    color: #333 !important;
  }

  ._1LDsddkU,
  .ioXTFC3S:hover {
    background-color: #bbe2f5 !important;
  }

  ._1uYeu0KX {
    background-color: #181a21 !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    color: #fff !important;
  }

  ._26tQclzn {
    color: #009fdf !important;
  }

  ._28G8vBfE {
    color: #ababab !important;
  }

  ._1AZfbcrJ {
    color: #009fdf !important;
  }

  .OJOTNeT_ {
    color: #00a658 !important;
  }

  ._1dct_iLB,
  ._3NbL14BI {
    color: #e6605c !important;
  }

  ._3MFdVxJ7,
  .LqrlhiIa {
    color: #f2892e !important;
  }

  ._3vUqQwpS {
    color: #ababab !important;
  }

  ._3BP7hV6K,
  ._100Jc0OI {
    background-color: #fdf0ef !important;
  }

  ._3d7a6ba5 {
    background-color: #e5f5fb !important;
  }

  ._1E1XrASA {
    background-color: rgba(242, 137, 46, 0.14) !important;
  }

  ._3EYNkwql {
    color: #008753 !important;
  }

  ._2EvZOFhA {
    color: #cc4c3b !important;
  }

  .DO38JSCn {
    color: #008753 !important;
  }

  .YxYcYvo1 {
    color: #cc4c3b !important;
  }

  ._3CZoX5pk:after,
  .aFXdYwgH:after {
    background: #008753 !important;
  }

  ._1cDRLYeM:after,
  ._3r9EjM4w:after {
    background: #cc4c3b !important;
  }

  ._-0LozeWL.DO38JSCn {
    color: #008753 !important;
  }

  ._-0LozeWL.YxYcYvo1 {
    color: #cc4c3b !important;
  }

  ._1h_eTEhu[disabled] {
    background-color: transparent !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1h_eTEhu:not([disabled]):focus,
    ._1h_eTEhu:not([disabled]):hover {
      color: #009fdf !important;
    }
  }

  ._3n7H-eSi {
    color: #00a658 !important;
  }

  ._2SBhdd1O {
    color: #e6605c !important;
  }

  ._29t5APwC {
    background-color: #f3f4f5 !important;
    color: #333 !important;
  }

  .duvfw-AB {
    background-color: #009fdf !important;
    color: #fff !important;
  }

  ._25y7gyVl {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
    color: #000 !important;
  }

  ._19IIBXeB {
    background-color: #d4d4d4 !important;
    color: #fff !important;
  }

  .CPtfiZ7R._19IIBXeB {
    background-color: transparent !important;
  }

  ._1kPJSn4E:focus:before,
  ._1kPJSn4E:hover:before,
  ._3-IB_JCb:before {
    background-color: rgba(152, 161, 177, 0.2) !important;
  }

  ._1as8uSSY:after {
    background-image: repeating-linear-gradient(
      45deg,
      #007bc2,
      #007bc2 8px,
      #fff 0,
      #fff 16px
    ) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._25y7gyVl:not(._19IIBXeB):hover {
      background-color: #f3f4f5 !important;
      border-color: #f3f4f5 !important;
    }
    .duvfw-AB:not(._19IIBXeB):hover {
      background-color: #007bc2 !important;
    }
    ._25y7gyVl:not(._19IIBXeB):focus,
    ._29t5APwC:not(._19IIBXeB):focus,
    .duvfw-AB:not(._19IIBXeB):focus {
      background-color: #fff !important;
      border-color: #009fdf !important;
      color: #007bc2 !important;
    }
  }

  ._1cB-Ekc9 a {
    color: #009fdf !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1cB-Ekc9 a:focus,
    ._1cB-Ekc9 a:hover {
      color: #007bc2 !important;
    }
  }

  .n9Y_xeF9:after,
  .n9Y_xeF9:before {
    background: linear-gradient(180deg, #fff 30%, hsla(0, 0%, 100%, 0)) !important;
  }

  ._2WxIHyr-:after,
  ._2WxIHyr-:before {
    background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0)) !important;
  }
  ._1ZM6JdZl:after,
  ._1ZM6JdZl:before {
    background: linear-gradient(270deg, transparent 0, #000) !important;
  }

  ._2Lc-F8xg {
    background-color: rgba(0, 0, 0, 0.55) !important;
  }

  ._34VONsxu {
    background-color: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  .LcAk5OkM {
    background-color: #009fdf !important;
  }

  .f4nqyMou {
    background-color: #fff !important;
  }

  ._2BdaSZqu {
    background-color: #edeff1 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (min-width: 1440px) {
    .txRELtv5 {
      background-color: #333 !important;
      color: #fff !important;
    }
  }

  .dy5DZ3l4 {
    background-color: #fff !important;
    border-left-color: #d4d4d4 !important;
  }

  ._1Jd_i_hS {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  ._3JMk9DqI {
    border-bottom-color: #d4d4d4 !important;
  }

  .MAYOM1yO {
    border-bottom-color: #d4d4d4 !important;
  }

  ._3GVSy4VH {
    border-top-color: #d4d4d4 !important;
  }

  ._2jN_Jz5z ._3GVSy4VH {
    border-bottom-color: transparent !important;
  }

  ._3qim-euk + ._2Ctif5Ft ._3GVSy4VH,
  ._3qim-euk + ._3GVSy4VH {
    border-top-color: transparent !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3GVSy4VH:focus {
      border-color: #009fdf !important;
    }
  }

  ._214_3KqX {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
    color: #000 !important;
  }

  ._1xGSw9zr {
    color: #ababab !important;
  }

  ._1kYpKNYS {
    background: #000 !important;
    color: #fff !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2HHYp_aN:focus ._330pdmTh {
      color: #009fdf !important;
    }
  }

  @media (pointer: fine), all and (pointer: none) {
    ._24B3km1G:hover {
      color: #007bc2 !important;
    }
  }

  ._2dcJGOUN {
    color: #000 !important;
  }

  ._3jWTMeHo {
    border-top-color: #e8e8e8 !important;
  }

  .nCR5h3iF {
    color: #e6605c !important;
  }

  ._1dgOEOFT {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
  }

  .yrOJbG72 {
    border-top-color: #e8e8e8 !important;
  }

  .yrOJbG72:before {
    background: linear-gradient(hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1)) !important;
  }

  .zlwsqPsd {
    background-color: #edeff1 !important;
  }

  .zlwsqPsd ._2x2HMYM- {
    border-color: #e8e8e8 !important;
  }

  ._1fXxiMaD {
    background-color: #fff !important;
  }

  .LuMx5N-a {
    color: #009fdf !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .LuMx5N-a:focus,
    .LuMx5N-a:hover {
      color: #007bc2 !important;
    }
    ._3hNzOhh2:focus,
    ._3hNzOhh2:hover {
      color: #009fdf !important;
    }
  }

  ._2aTWrjNT {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1zoYYmyE {
    background-color: #fff !important;
  }

  ._3KT_-c8T {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3txtVfoE {
    background-color: #fff !important;
  }

  ._3fYLd38o {
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1Vv6E52I,
  ._3T8sEjYG {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1uF5sQLY,
  ._2nWsxCRP {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1atGqEg5 ._3txtVfoE {
    border-bottom-color: #e8e8e8 !important;
  }

  ._1atGqEg5:first-child ._3txtVfoE {
    border-top-color: #e8e8e8 !important;
  }

  ._1atGqEg5._3VumnLL6 ._3txtVfoE {
    background-color: #f3f4f5 !important;
  }

  ._1atGqEg5:not(._3VumnLL6):nth-child(odd) ._3txtVfoE:not(._3fYLd38o) {
    background-color: #f7f8f9 !important;
  }

  .QTzbBtZF:before {
    background: #d4d4d4 !important;
  }

  .QTzbBtZF:after {
    background: #e8e8e8 !important;
  }

  .j9O5hedy:after {
    background-image: linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 0.15) 0,
      #d4d4d4 90%,
      #ababab
    ) !important;
  }

  .UP9iKLye {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._23k5ev1C:hover ._3txtVfoE {
      background-color: #e4f4fb !important;
    }
    ._1hm4jOQi:hover ._3txtVfoE {
      background-color: #e4f4fb !important;
    }
  }

  @supports (-ms-ime-align: auto) {
    .QTzbBtZF {
      border-right-color: #e8e8e8 !important;
    }
  }

  ._1GTwtGbs {
    color: #000 !important;
  }

  ._2tmBgf2f {
    border-bottom-color: transparent !important;
  }

  ._3O-i74lZ,
  ._3O-i74lZ[disabled] {
    background-color: transparent !important;
    border-bottom-color: #009fdf !important;
    color: #009fdf !important;
  }

  ._Sv-wtqf {
    border-left-color: #e8e8e8 !important;
  }

  ._2p8l9pj- {
    color: #000 !important;
  }

  ._2p8l9pj-:before {
    background-color: #008753 !important;
  }

  ._2GQ-RMfr:before {
    background-color: #f2892e !important;
  }

  ._14yV3h1K:before {
    background-color: #007bc2 !important;
  }

  ._2-xVQKnL {
    background-color: #fff !important;
  }

  ._3xp9xfhI {
    background-color: #e8e8e8 !important;
  }
  ._23Feidbq:focus {
    background-color: #e4f4fb !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._23Feidbq:hover {
      background-color: #e4f4fb !important;
    }
  }

  ._21l9ETAc {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._2ABtKCe- {
    background-color: #fff !important;
  }

  ._1Z7MlEUL {
    border-top-color: #e8e8e8 !important;
  }

  ._1GY3cgfF {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3yHl9Rej,
  .m8SaCQ0N {
    color: #fff !important;
  }
  ._31aFFCZq {
    background-color: #00a658 !important;
  }

  ._1FxqMlng {
    background-color: #e6605c !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._31aFFCZq:not([disabled]):focus,
    ._31aFFCZq:not([disabled]):hover {
      background-color: #008753 !important;
    }
    ._1FxqMlng:not([disabled]):focus,
    ._1FxqMlng:not([disabled]):hover {
      background-color: #cc4c3b !important;
    }
  }

  ._1cbUpjV8 {
    background-color: #fff !important;
    border-color: #000 !important;
  }

  ._2nJuk3jc {
    border-top-color: #e8e8e8 !important;
  }

  .hSyrIMCA {
    color: rgba(0, 0, 0, 0.55) !important;
  }
  ._1_WK0RS- {
    border-bottom-color: #e8e8e8 !important;
  }

  ._2SEldLb2 {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .rtSmT2Hs {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._225D5bZq {
    background-color: #000 !important;
    color: #fff !important;
  }

  ._1YWePShC[disabled],
  ._3pBOy15F[disabled] {
    background-color: transparent !important;
    color: #000 !important;
  }

  ._2hVomjHa {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .JW2tGu-V {
    color: #009fdf !important;
  }

  ._1O9aanpA {
    background-color: #fff !important;
  }

  ._2Nlo3JDj + ._2Nlo3JDj {
    border-top-color: #e8e8e8 !important;
  }

  ._3RuXct74,
  ._3RuXct74[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3RuXct74.madfOO6a {
    color: #009fdf !important;
  }

  ._3OzwVuDY,
  ._3XIcV2wn {
    background-color: #009fdf !important;
    color: #fff !important;
  }
}
