html[data-suite-theme] {
  ._2nB0NFT4 {
    background-color: #181a21 !important;
  }

  .rWVJdq6U {
    color: #98a1b1 !important;
  }

  .QDPk8OLd {
    color: #fff !important;
  }

  .QDPk8OLd ._2tHmlr0F {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2nB0NFT4 ._5TQ_UgEr {
    color: #fff !important;
  }
}
