html[data-suite-theme] {
  ._1MuJ1GRk {
    border-bottom-color: #d4d4d4 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._2iagDYD1 {
    color: #000 !important;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  ._2IXrK1CA {
    background-color: #f3f4f5 !important;
  }

  .V09i3yvL {
    border-left-color: #e8e8e8 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .V09i3yvL:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  ._3K08ms9k + ._3K08ms9k {
    border-top-color: #e8e8e8 !important;
  }
}
