html[data-suite-theme] {
  ._3K08ms9k + ._3K08ms9k {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  ._3JvmSTh1 {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  ._3gW7N2zK {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .kpZgEsAD {
    background-color: transparent !important;
  }

  ._2zd9-3cj + ._2zd9-3cj {
    border-left-color: var(--suite-theme-bg-midlite) !important;
  }

  ._2zd9-3cj[disabled] {
    background-color: transparent !important;
  }

  .cdcYYFOO {
    color: #fff !important;
  }

  .cdcYYFOO:first-child {
    background-color: #00a658 !important;
  }

  .cdcYYFOO:last-child {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2zd9-3cj[disabled].cdcYYFOO {
    background-color: #d4d4d4 !important;
    color: var(--suite-theme-color) !important;
  }

  .LxrALQ7-:last-child {
    background-color: #e6605c !important;
  }

  .kSPLeTvJ {
    background-color: var(--suite-theme-bg-midlite) !important;
    border-color: var(--suite-theme-bg-midlite) !important;
  }

  ._1ASjxRvu {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._35GLVuG2 {
    border-top-color: #d4d4d4 !important;
  }

  ._35GLVuG2 + ._35GLVuG2 {
    border-top: 0 !important;
  }

  ._2fEWKGqL {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._1pY1orTj {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._2oWoXcNf {
    color: var(--suite-theme-color) !important;
  }

  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._3C0lad-l {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14) !important;
  }

  ._1VHD57HG {
    color: var(--suite-theme-color) !important;
  }

  @media (min-width: 1024px) {
    ._3C0lad-l {
      border-left-color: #d4d4d4 !important;
    }
  }
}
