html[data-suite-theme] {
  ._3K08ms9k + ._3K08ms9k {
    border-top-color: #e8e8e8 !important;
  }

  ._3sq8JoBx {
    color: #009fdf !important;
  }

  ._2EfoFDd6 ._1-App5Fj ._1yYRanu4 {
    border-color: #e6605c !important;
  }

  ._2TZn-T5Q {
    border-color: #e8e8e8 !important;
  }

  ._2TZn-T5Q:not(:first-child) {
    border-left: 0 !important;
  }

  ._2TZn-T5Q:focus {
    border-color: #009fdf !important;
  }

  ._2TZn-T5Q[disabled] {
    color: #fff !important;
  }

  .u-OZX1IW {
    color: #00a658 !important;
  }

  ._2opx293R {
    color: #e6605c !important;
  }

  .u-OZX1IW[disabled] {
    background-color: #00a658 !important;
    border-color: #00a658 !important;
  }

  ._2opx293R[disabled] {
    background-color: #e6605c !important;
    border-color: #e6605c !important;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  ._1pY1orTj {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._2oWoXcNf {
    color: #000 !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._1veR2tP7 {
    background-color: #fff !important;
    border-color: #d4d4d4 !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    color: #000 !important;
  }

  ._2GDZmzGr:focus,
  ._2GDZmzGr:hover {
    background-color: #e4f4fb !important;
  }

  ._2I5a0skB {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
