html[data-suite-theme] {
  ._1SfXUC7W {
    background-color: #f0f0f0 !important;
    border-color: #d4d4d4 !important;
  }

  ._3D0IGC3v:checked ~ ._1SfXUC7W {
    background-color: var(--suite-theme-color-accent-bg) !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3D0IGC3v[disabled]:checked ~ ._1SfXUC7W,
  ._3D0IGC3v[disabled] ~ ._1SfXUC7W {
    background-color: #d4d4d4 !important;
    border-color: transparent !important;
  }

  ._3D0IGC3v:checked ~ ._1SfXUC7W:after {
    border-color: #fff !important;
    border-width: 0 2px 2px 0 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1SfXUC7W:hover {
      background-color: var(--suite-theme-bg-midlite) !important;
    }
    ._3D0IGC3v:focus ~ ._1SfXUC7W {
      border-color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  .QD_J6C5r {
    background-color: #e6605c !important;
    color: #fff !important;
  }

  ._34nAy_uB {
    background-color: var(--suite-theme-color-secondary) !important;
  }

  .JvAjbK_F {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.16) !important;
  }

  .UX9AKdXx {
    background-color: #181a21 !important;
    color: #ababab !important;
  }

  ._3aoRYGOx:before {
    background: #181a21 !important;
  }

  ._1VCqr8vi {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1VCqr8vi:after,
  ._2hnF2C5c:after {
    border-bottom-color: transparent !important;
    border-left-color: #fff !important;
    border-top-color: transparent !important;
  }

  ._2hnF2C5c:after {
    border-left-color: var(--suite-theme-color-secondary) !important;
  }

  ._1qKSuIJr {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._2qBKh7vt {
    background-color: #e6605c !important;
    color: #fff !important;
  }

  ._1wxMG71x {
    background-color: var(--suite-theme-bg-lite)  !important;
    color: var(--suite-theme-color) !important;
  }

  .keM55XVj {
    color: #ababab !important;
  }

  .DiLpaovC {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .DiLpaovC:after {
    border-bottom-color: transparent !important;
    border-left-color: #fff !important;
    border-top-color: transparent !important;
  }
}
