html[data-suite-theme] {
  ._3JvmSTh1 {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  ._2A-PyhWT:hover,
  ._3uOwJ2TK {
    background-color: #e4f4fb !important;
  }

  ._1kQuXOpG[disabled] {
    background-color: transparent !important;
  }

  ._1kQuXOpG[disabled] ._3aV3ngbl {
    color: #ababab !important;
  }

  ._3f1ZNxzU {
    background-color: #d4d4d4 !important;
  }

  ._3f1ZNxzU + ._3f1ZNxzU {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._3SCwVTuP {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2RVZeMtn:focus {
      background-color: #e4f4fb !important;
    }
  }
}
