html[data-suite-theme] {
  ._8UmNn1vK {
    color: var(--suite-theme-color-secondary) !important;
  }

  .FTDOIjUm {
    color: #ffb300 !important;
  }

  ._34wmBpDV {
    background: transparent !important;
  }

  ._2BsLVUFU {
    border-color: #d4d4d4 !important;
  }

  ._2Uu-PhjH {
    color: var(--suite-theme-color-secondary) !important;
  }
}
