html[data-suite-theme] {
  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .HNj2UG1r {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._34xCdDCO {
    color: #000 !important;
  }
}
