html[data-suite-theme] {
  .HNj2UG1r {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._34xCdDCO {
    color: #000 !important;
  }

  .-QHHeCqU {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
