html[data-suite-theme] {
  ._3fsQ8Cps {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3v7KvgqR {
    color: var(--suite-theme-color) !important;
  }

  ._3_48UyQ7 {
    color: var(--suite-theme-color) !important;
  }

  ._2f4nmAf5,
  ._3sik6KCI {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._3sik6KCI {
    background-color: #e4f4fb !important;
  }

  ._2f4nmAf5:last-of-type {
    border-bottom: none !important;
  }

  .mAkmuPN8 {
    color: var(--suite-theme-color-secondary) !important;
  }

  .cHaLMbqt {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._1QJRxgQc {
    color: var(--suite-theme-color) !important;
  }

  .cHaLMbqt:nth-child(2n):nth-last-child(-n + 3) ~ .cHaLMbqt {
  }

  ._1J3DLNkR {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }
}
