html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._2JftW9pE {
    background: #f3f4f5 !important;
    border-color: #f3f4f5 !important;
  }

  .zv7VOqXQ ._2JftW9pE ._1GYK5I9g {
    background: inherit !important;
    border-color: transparent !important;
  }

  ._2FeXrD9P {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2JftW9pE:focus-within {
      background: #f3f4f5 !important;
      border-color: #f3f4f5 !important;
    }
  }

  ._2VDLvBe3:before {
    background-color: #fff !important;
  }

  ._1bTE1uFb {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1j0Mo0dn {
    background-color: #f7f8f9 !important;
  }

  ._1Bq2L28h ._1j0Mo0dn {
    background-color: inherit !important;
  }

  ._1Bq2L28h ._3MDs-TeF:last-child {
    border-bottom-color: #d4d4d4 !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  ._2M-TmtZI {
    color: #009fdf !important;
  }

  ._2M-TmtZI:after {
    background-color: #009fdf !important;
  }
}
