html[data-suite-theme] {
  ._1ceKYh3W .SRKeLvAF {
    background-color: #fafafa;
  }

  ._1UIli3mH:first-child .SRKeLvAF {
    border-top: 0;
  }

  ._3RG2gusx {
    background-color: #edeff1;
  }

  ._1UIli3mH:not(._3Ne93sHk):nth-child(odd) ._3jr4aOva:not(.SRKeLvAF),
  ._1UIli3mH:not(._3Ne93sHk):nth-child(odd) .ZSFu57um:not(.SRKeLvAF) {
    background-color: #fff;
  }

  ._10lOptvj {
    color: rgba(0, 0, 0, 0.55);
  }

  ._1hbIBXiI {
    border-right-color: #d4d4d4;
  }

  ._2CZhCc1l {
    color: rgba(0, 0, 0, 0.55);
  }

  .cXzcf1kz:not(.ALrcs4K7):nth-child(odd) ._16CxOdOW:not(._2LvmSz1g) {
    background-color: #fff;
  }
}
