html[data-suite-theme] {
  ._1CVTc3bB {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3XtTiBQM {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3SHcS-Ra {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3XtTiBQM:hover {
      color: #007bc2 !important;
    }
  }
}
