html[data-suite-theme] {
  ._3fsQ8Cps {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3v7KvgqR {
    color: #000 !important;
  }

  ._2f4nmAf5,
  ._3sik6KCI {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3sik6KCI {
    background-color: #e4f4fb !important;
  }

  ._2f4nmAf5:last-of-type {
    border-bottom: none !important;
  }

  .mAkmuPN8 {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }
}
