html[data-suite-theme] {
  ._1Yzp_hiy {
    color: #ababab !important;
  }

  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
    object-fit: cover !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._2me9YHul {
    border-color: #d4d4d4 !important;
  }

  ._2me9YHul[disabled] {
    background-color: transparent !important;
    color: #ababab !important;
  }

  ._3M8v3em7 {
    border-left-color: #d4d4d4 !important;
  }

  ._3M8v3em7:first-child {
    border-left: 0 !important;
  }

  ._1i_UDq8g ._3M8v3em7 {
    background-color: #f7f8f9 !important;
    border-bottom-color: #d4d4d4 !important;
  }

  ._1i_UDq8g ._1ivg9Ttu {
    background-color: #fff !important;
    border-bottom-color: #fff !important;
    border-top-color: #d4d4d4 !important;
  }

  .jZEe5eS6 {
    background-color: #000 !important;
    color: #fff !important;
  }

  ._5vGKVxmP {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._2dJ0xT1B {
    border-top-color: #e8e8e8 !important;
  }

  ._1E31BIi1[disabled] {
    background-color: transparent !important;
    color: #ababab !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2GIBxeYE:focus,
    ._12DX_2Gd:focus {
      background-color: #f7f8f9 !important;
    }
  }

  ._2UdAYB7T {
    background-color: #000 !important;
  }
}
