html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._1GMEuLu5 {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._19nlLTqn ._3QiKxaLm {
    color: var(--suite-theme-color) !important;
  }

  ._3xLohwEW {
    word-break: break-word !important;
  }

  ._2MnhUNur {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3fNf038_ {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3azz-ku6 {
    background-color: var(--suite-theme-bg) !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._2LoO-18t {
    color: var(--suite-theme-color-secondary) !important;
  }

  .vlVKdFGV {
    background-color: var(--suite-theme-bg) !important;
  }

  ._2SEKkei0 {
    background-color: var(--suite-theme-bg) !important;
  }

  .NmNsx9VS {
    color: var(--suite-theme-color) !important;
  }
}
