html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
    object-fit: cover !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._1KhdrThW:focus + .Qgbk06Ib {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .wKb4xEDK {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  ._3W5tpmzT {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1xTj_g_w[disabled],
  ._3ikYP1Sz[disabled],
  ._3sBaDV1Z[disabled] {
    background-color: transparent !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1xTj_g_w:not([disabled]):not(._3W5tpmzT):hover,
    ._3ikYP1Sz:not([disabled]):hover {
      background-color: var(--suite-theme-bg-midlite) !important;
    }
  }

  .IIr0vEtl {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._2mblqc1D {
    color: var(--suite-theme-color) !important;
  }

  ._2mblqc1D[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.25) !important;
  }

  ._29cya0qL .Assm8m4p {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .jYQQ4EKJ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .HYW76b34 {
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  @media (max-width: 767px) {
    .KQVzNy4q {
    }
  }

  ._2aaXLEv1 {
    background-color: transparent !important;
  }
}
