html[data-suite-theme] {
  ._3fsQ8Cps {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3v7KvgqR {
    color: #000 !important;
  }

  .Ww9dtK-j._2UVGMGP3 {
    border-top-color: #e8e8e8 !important;
  }

  ._3_nIrzwr {
    color: #ababab !important;
  }

  ._32GwrzNb {
    color: #ababab !important;
  }
}
