html[data-suite-theme] {
  ._2rXS8vA8._28I6HDQH {
    background-color: #fff;
  }

  ._2rXS8vA8._28I6HDQH._3XeeYfzY {
    background-color: #d4d4d4;
    color: #000;
  }

  ._3e6GMkLv {
    background-color: #fff;
    color: #000;
  }

  ._3e6GMkLv._3_qpbDBw {
    color: #000;
  }

  ._3e6GMkLv._2io05KaE:disabled {
    background-color: #d4d4d4;
    border-color: #009fdf;
    color: #000;
  }

  .iXZp95NS {
    background-color: #f7f8f9;
    border-bottom-color: #edeff1;
    border-top-color: #edeff1;
  }

  ._1gwuPi-l.Ke-WXQ__ ._1uVgojSS {
    color: #009fdf;
  }
}
