html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._1GMEuLu5 {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._19nlLTqn ._3QiKxaLm {
    color: #000 !important;
  }

  ._3xLohwEW {
    word-break: break-word !important;
  }

  ._2MnhUNur {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3nV1RBSy.e2mNNFja {
    border-top: 0 !important;
  }

  ._3fNf038_ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3azz-ku6 {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
  }

  ._2LoO-18t {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .vlVKdFGV {
    background-color: #fff !important;
  }

  ._2SEKkei0 {
    background-color: #fff !important;
  }

  .NmNsx9VS {
    color: #000 !important;
  }
}
