html[data-suite-theme] {
  ._316S4p2b {
    color: #000 !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: #009fdf !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: #000 !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: #009fdf !important;
  }

  ._3-BDc_76 {
    background: #000 !important;
  }

  ._3cDgL7I7 {
    color: #ababab !important;
  }

  ._3cDgL7I7._13Mvw6c8 {
    border-bottom-width: 0 !important;
    color: #fff !important;
  }

  ._13Mvw6c8:after {
    border-color: transparent transparent #fff !important;
    border-width: 0 6px 6px !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3-BDc_76 ._3cDgL7I7:focus,
    ._3-BDc_76 ._3cDgL7I7:hover {
      color: #ababab !important;
    }
  }

  ._2yIQtRn4 ._3n28doiM._2uPWOaAd {
    border-top: 0 !important;
  }

  ._1CVTc3bB {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3XtTiBQM {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3SHcS-Ra {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3XtTiBQM:hover {
      color: #007bc2 !important;
    }
  }

  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: #009fdf !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }
}
