html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._1KhdrThW:focus + .Qgbk06Ib {
    color: #009fdf !important;
  }

  .wKb4xEDK {
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  ._3W5tpmzT {
    background-color: #009fdf !important;
    color: #fff !important;
  }

  ._1xTj_g_w[disabled],
  ._3ikYP1Sz[disabled],
  ._3sBaDV1Z[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1xTj_g_w:not([disabled]):not(._3W5tpmzT):hover,
    ._3ikYP1Sz:not([disabled]):hover {
      background-color: #f3f4f5 !important;
    }
  }

  .IIr0vEtl {
    border-bottom-color: #e8e8e8 !important;
  }

  .lD-Bkqvp {
    color: #000 !important;
  }

  .lD-Bkqvp[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.25) !important;
  }

  ._2uWZRZOS {
    border-top-color: #d4d4d4 !important;
  }

  ._29cya0qL .Assm8m4p {
    border-bottom-color: #e8e8e8 !important;
  }

  .jYQQ4EKJ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .HYW76b34 {
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  ._2ewHWdM2 {
    background-color: transparent !important;
  }
}
