html[data-suite-theme] {
  ._3fsQ8Cps {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3v7KvgqR {
    color: var(--suite-theme-color) !important;
  }

  .Ww9dtK-j._2UVGMGP3 {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  ._3_nIrzwr {
    color: #ababab !important;
  }

  ._32GwrzNb {
    color: #ababab !important;
  }
}
