html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4 !important;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent !important;
  }

  ._1ceKYh3W .SRKeLvAF {
    background-color: #fafafa !important;
  }

  ._3RG2gusx {
    background-color: var(--suite-theme-bg-lite)  !important;
  }

  ._1UIli3mH:not(._3Ne93sHk):nth-child(odd) ._3jr4aOva:not(.SRKeLvAF),
  ._1UIli3mH:not(._3Ne93sHk):nth-child(odd) .ZSFu57um:not(.SRKeLvAF) {
    background-color: var(--suite-theme-bg) !important;
  }

  ._10lOptvj {
    color: var(--suite-theme-color-secondary) !important;
  }
}
