html[data-suite-theme] {
  ._2rXS8vA8._28I6HDQH {
    background-color: var(--suite-theme-bg) !important;
  }

  ._2rXS8vA8._28I6HDQH._3XeeYfzY {
    background-color: #d4d4d4 !important;
    color: var(--suite-theme-color) !important;
  }

  ._3e6GMkLv {
    background-color: var(--suite-theme-bg) !important;
    color: var(--suite-theme-color) !important;
  }

  ._3e6GMkLv._3_qpbDBw {
    color: var(--suite-theme-color) !important;
  }

  ._3e6GMkLv._2io05KaE:disabled {
    background-color: #d4d4d4 !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
    color: var(--suite-theme-color) !important;
  }

  .iXZp95NS {
    background-color: #f7f8f9 !important;
    border-bottom-color: #edeff1 !important;
    border-top-color: #edeff1 !important;
  }

  ._1gwuPi-l.Ke-WXQ__ ._1uVgojSS {
    color: var(--suite-theme-color-accent-bg) !important;
  }
}
