html[data-suite-theme] {
  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb;
    }
  }

  .HNj2UG1r {
    background-color: #fff;
    border-bottom-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.55);
  }

  ._34xCdDCO {
    color: #000;
  }

  ._30vkHfQu {
    color: #e6605c;
  }
}
