html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  ._2M-TmtZI {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2M-TmtZI:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2kkWoRPp {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._3JvmSTh1 {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._316S4p2b {
    color: var(--suite-theme-color) !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2jcwGNI8 + ._2jcwGNI8 {
    color: var(--suite-theme-color-secondary) !important;
  }
}
