html[data-suite-theme] {
  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: #009fdf !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  ._1EWp8hdR {
    border-bottom-color: #e8e8e8 !important;
  }

  ._19tVoLhw {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
