html[data-suite-theme] {
  ._316S4p2b {
    color: #000;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit;
  }

  ._1pn7hE7-:focus {
    color: #009fdf;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit;
    color: #000;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: #009fdf;
  }

  ._1EJdlh6R {
    border-bottom: 2px solid;
    color: #000;
  }

  ._2AWxLI4H {
    border-color: #d4d4d4;
  }

  .lEEKEUMB {
    background-color: #f7f8f9;
    border-bottom-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.55);
  }

  ._3_myEOPT {
    background-color: #f3f4f5;
  }

  ._3_myEOPT:last-child {
    border-bottom-color: #e8e8e8;
  }

  ._3L626b8C .S_byqfTB {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3L626b8C ._3-1aJ2Xy,
  .U1-JE85L ._3-1aJ2Xy {
    background-color: #fff;
  }
}
