html[data-suite-theme] {
  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._3JvmSTh1 {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit !important;
    }
  }

  ._1EWp8hdR {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._19tVoLhw {
    color: var(--suite-theme-color-secondary) !important;
  }
}
