html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2MAqurEK {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3DuqgVaH {
    background-color: var(--suite-theme-bg) !important;
    border-bottom-color: #d4d4d4 !important;
    border-top-color: #d4d4d4 !important;
  }

  ._3DuqgVaH:before {
    border-top-color: var(--suite-theme-color-accent-bg) !important;
  }

  .o2P35gOe {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2kkWoRPp {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._316S4p2b {
    color: var(--suite-theme-color) !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2IXrK1CA {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .V09i3yvL {
    border-left-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .V09i3yvL:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  ._3JvmSTh1 {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  ._1KhdrThW:focus + .Qgbk06Ib {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .wKb4xEDK {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  ._3W5tpmzT {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1xTj_g_w[disabled],
  ._3ikYP1Sz[disabled],
  ._3sBaDV1Z[disabled] {
    background-color: transparent !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1xTj_g_w:not([disabled]):not(._3W5tpmzT):hover,
    ._3ikYP1Sz:not([disabled]):hover {
      background-color: var(--suite-theme-bg-midlite) !important;
    }
  }

  ._1V8z-9bE {
    background-color: transparent !important;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .AxZvdu2w {
    color: #e6605c !important;
  }

  ._1DOslr8p {
    background-color: var(--suite-theme-bg-lite)  !important;
  }

  ._2D5cvd9a {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }
}
