html[data-suite-theme] {
  ._316S4p2b {
    color: #000 !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: #009fdf !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: #000 !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: #009fdf !important;
  }

  ._1EJdlh6R {
    border-bottom: 2px solid !important;
    color: #000 !important;
  }

  ._2AWxLI4H {
    border-color: #d4d4d4 !important;
  }

  .lEEKEUMB {
    background-color: #f7f8f9 !important;
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3_myEOPT {
    background-color: #f3f4f5 !important;
  }

  ._3_myEOPT:last-child {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3L626b8C .S_byqfTB {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3L626b8C ._3-1aJ2Xy,
  .U1-JE85L ._3-1aJ2Xy {
    background-color: #fff !important;
  }
}
