html[data-suite-theme] {
  ._131J9jh1 {
    outline-color: var(--suite-theme-border-color) !important;
  }

  ._131J9jh1:focus-within {
    outline-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3GPjV2U8 {
    background: transparent !important;
  }

  .yHNk8c1- {
    color: transparent !important;
  }

  ._23ryh3SY {
    background-color: #e6605c !important;
  }

  ._3mvUkCuk {
    color: #e6605c !important;
  }

  .Rw6KMAz4:disabled {
    background: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  .Rw6KMAz4:hover {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .Rw6KMAz4:focus {
    border-color: var(--suite-theme-color-accent-bg) !important;
    color: var(--suite-theme-color-accent-bg) !important;
    outline: none !important;
  }

  ._1MgP6zrU {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1MgP6zrU:hover {
    background-color: #007bc2 !important;
  }

  ._1MgP6zrU:focus {
    background-color: #e4f4fb !important;
    color: #007bc2 !important;
  }

  ._13V8dVE-:focus {
    outline-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3CaPzRMw {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._1htE6tkS {
    color: #ababab !important;
  }

  ._1L16L2Eo {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2IJAHDD6 {
    color: #e6605c !important;
  }
}
