html[data-suite-theme] {
  ._3N8OmG8V {
    background-color: #333;
  }

  @media (pointer: fine), all and (pointer: none) {
    .bAaR7RCf:hover {
      color: #009fdf;
    }
  }

  ._2dwoD_FC {
    border-top-color: #e8e8e8;
  }

  ._18v7Iz7Q {
    background-color: #009fdf;
  }

  .WGycBeKz {
    background-color: #009fdf;
    border-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  ._2Ef0CCuB {
    color: #009fdf;
  }

  ._3q5EQP9L {
    border-top-color: #e8e8e8;
  }

  ._3UlsRPlz {
    color: rgba(0, 0, 0, 0.55);
  }

  .xvFSckQ6 {
    border-bottom-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3u-ooGhO:hover ._168WKOXC {
      color: #009fdf;
    }
  }
}
