html[data-suite-theme] {
  .MRBQtaNV {
    background-color: #fafafa !important;
  }

  ._2ZvmPd_E {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._1yHT5BZk,
  ._2ZvmPd_E {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._1yHT5BZk ._2ZvmPd_E,
  ._1yHT5BZk:last-child,
  .EteAec3r:last-child ._2ZvmPd_E:last-child {
  }

  ._1HJi8KWO:before {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3--Zlx6S {
    color: var(--suite-theme-color) !important;
  }

  ._2C0QmyHD {
    color: var(--suite-theme-color-secondary) !important;
  }

  .fC_Qu6kY {
    background-color: #d4d4d4 !important;
  }

  ._2IQ4pEdI {
    background-color: var(--suite-theme-bg-midlite) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .b1W6H4_a:checked ~ .fC_Qu6kY {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .b1W6H4_a:checked ~ ._2IQ4pEdI {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .b1W6H4_a:focus ~ ._2IQ4pEdI {
      background-color: var(--suite-theme-bg) !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
    .b1W6H4_a:checked:focus ~ ._2IQ4pEdI {
      background-color: var(--suite-theme-color-accent-bg) !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
  }

  ._1pxSpJHR:before,
  ._1pxSpJHR:not(:last-child):after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3SKxNVCs:before {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2h6WgA6V {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3SKxNVCs ._2h6WgA6V {
    color: var(--suite-theme-color-accent-bg) !important;
  }
}
