html[data-suite-theme] {
  ._3aKD8cJa {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  .JFqlBKZR {
    stroke: #e8e8e8 !important;
  }

  ._2Wj09Ukw {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  ._117F2TyM {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3uZqPfLC {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._2mCEWUXc {
    color: #ababab !important;
  }
}
