html[data-suite-theme] {
  ._3uZqPfLC {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3aKD8cJa {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  .JFqlBKZR {
    stroke: #e8e8e8 !important;
  }

  ._2Wj09Ukw {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  ._117F2TyM {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._1A8_3vrg {
    background: #000 !important;
  }

  .Nm5omvC7 {
    color: #ababab !important;
  }

  .Nm5omvC7._32yCs-da {
    color: #fff !important;
  }

  ._32yCs-da:after {
    border-color: transparent transparent #fff !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1A8_3vrg .Nm5omvC7:focus,
    ._1A8_3vrg .Nm5omvC7:hover {
      color: #ababab !important;
    }
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3oGscGgD ._3FghPXuE ._2Hheu-u7:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE ._3ByEduw-:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE:hover ._2Hheu-u7:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE:hover ._3ByEduw-:not(:first-child):hover {
      background-color: #bbe2f5 !important;
    }
    ._3FghPXuE:not(._3-EYymGa):nth-child(odd):hover ._3ByEduw-:not(._2Hheu-u7) {
      background-color: #e4f4fb !important;
    }
    ._3oGscGgD
      ._3FghPXuE:nth-child(odd):hover
      ._3ByEduw-:not(:first-child):hover {
      background-color: #bbe2f5 !important;
    }
    ._2Hheu-u7:not(:first-child):hover:after,
    ._3ByEduw-:not(:first-child):hover:after {
      background-color: #e4f4fb !important;
      mix-blend-mode: darken !important;
    }
  }

  ._1e3sAcsb {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
