html[data-suite-theme] {
  ._13hpuJxe b {
    color: #007bc2 !important;
  }

  ._2E_kGey5 {
    border-bottom-color: #fff !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }

  .vpvdbwUp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3XxpCQ5H {
    background-color: #d4d4d4 !important;
  }

  ._3_8LzFwY {
    background-color: #009fdf !important;
  }

  ._2-SWPUZf {
    box-shadow: 0 0 8px 4px #009fdf !important !important;
  }

  [href]._2-SWPUZf {
    color: #fff !important !important;
  }
}
