html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  ._2M-TmtZI {
    color: #009fdf !important;
  }

  ._2M-TmtZI:after {
    background-color: #009fdf !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }
}
