html[data-suite-theme] {
  ._3aQXaZJj,
  .esNU1WY_ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._1sj426FH {
    background-color: #fafafa !important;
  }

  ._3UbVFYsd {
    color: var(--suite-theme-color-secondary) !important;
  }

  .eSdyvZw8 {
    color: #e6605c !important;
  }

  .EDqJuGMT {
    color: #00a658 !important;
  }

  ._2jxzJAJV {
    background-color: #e6605c !important;
  }

  ._2x3xBxHI {
    background-color: #00a658 !important;
  }
}
