html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2snNLmel {
    background: #fff !important;
  }

  ._3U9TLDUu {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .HYW76b34 {
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  ._1T9wgTeI {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1vgHt8Re {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._1LqOZoJA,
  ._3g4wM5PU {
    color: var(--suite-theme-color) !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  ._2M-TmtZI {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2M-TmtZI:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }
}
