html[data-suite-theme] {
  ._3N8OmG8V {
    background-color: #333 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .bAaR7RCf:hover {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  ._2h2YaWrE {
    background-color: #fafafa !important;
  }

  ._3cNJiTRI ._1xsdEprT:last-child ._1EP--32- {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._1xsdEprT:not(._2bcIrSh2):nth-child(odd) ._1EP--32-:not(._2h2YaWrE) {
    background-color: var(--suite-theme-bg) !important;
  }

  .xvFSckQ6 {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3u-ooGhO:hover ._168WKOXC {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }
}
