html[data-suite-theme] {
  ._316S4p2b {
    color: var(--suite-theme-color) !important;
  }

  ._1pn7hE7- {
    border-bottom-color: transparent !important;
  }

  ._1pn7hE7-:disabled {
    background-color: inherit !important;
  }

  ._1pn7hE7-:focus {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1pn7hE7-._1TSB-BAR {
    background-color: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  ._2ZC0AnZ6 {
    border-bottom-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1EJdlh6R {
    border-bottom: 2px solid !important;
    color: var(--suite-theme-color) !important;
  }

  ._2AWxLI4H {
    border-color: #d4d4d4 !important;
  }

  .lEEKEUMB {
    background-color: #f7f8f9 !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3_myEOPT {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  ._3_myEOPT:last-child {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._3L626b8C .S_byqfTB {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3L626b8C ._3-1aJ2Xy,
  .U1-JE85L ._3-1aJ2Xy {
    background-color: var(--suite-theme-bg) !important;
  }
}
