html[data-suite-theme] {
  .MRBQtaNV {
    background-color: #fafafa;
  }

  ._2ZvmPd_E {
    color: rgba(0, 0, 0, 0.55);
  }

  ._1yHT5BZk,
  ._2ZvmPd_E {
    border-bottom-color: #e8e8e8;
  }

  ._1yHT5BZk ._2ZvmPd_E,
  ._1yHT5BZk:last-child,
  .EteAec3r:last-child ._2ZvmPd_E:last-child {
  }

  ._1HJi8KWO:before {
    background-color: #009fdf;
  }

  ._3--Zlx6S {
    color: #000;
  }

  ._2C0QmyHD {
    color: rgba(0, 0, 0, 0.55);
  }

  .fC_Qu6kY {
    background-color: #d4d4d4;
  }

  ._2IQ4pEdI {
    background-color: #f3f4f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .b1W6H4_a:checked ~ .fC_Qu6kY {
    background-color: #009fdf;
  }

  .b1W6H4_a:checked ~ ._2IQ4pEdI {
    background-color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    .b1W6H4_a:focus ~ ._2IQ4pEdI {
      background-color: #fff;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
    .b1W6H4_a:checked:focus ~ ._2IQ4pEdI {
      background-color: #009fdf;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
  }

  ._1pxSpJHR:before,
  ._1pxSpJHR:not(:last-child):after {
    background-color: #e8e8e8;
  }

  ._3SKxNVCs:before {
    background-color: #009fdf;
  }

  ._2h6WgA6V {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3SKxNVCs ._2h6WgA6V {
    color: #009fdf;
  }
}
