html[data-suite-theme] {
  ._3aKD8cJa {
    fill: var(--suite-theme-color-secondary) !important;
  }

  .JFqlBKZR {
    stroke: var(--suite-theme-border-color) !important;
  }

  ._2Wj09Ukw {
    fill: var(--suite-theme-color-secondary) !important;
  }

  ._117F2TyM {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3uZqPfLC {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3oLn_MN8 {
    background-color: #fafafa !important;
    border-color: #d4d4d4 !important;
  }

  ._3KsPwl0e {
    background: linear-gradient(90deg, #00a658, #d4d4d4 50%, #e6605c) !important;
  }

  .RyrAgVRb {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3hxM_TrW {
    color: #fff !important;
  }

  ._3hxM_TrW,
  ._3hxM_TrW:after {
    background-color: var(--suite-theme-color) !important;
  }
}
