html[data-suite-theme] {
  ._3NLN59hC {
    color: var(--suite-theme-color-secondary) !important;
  }

  .MDyoowC6:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%) !important;
  }

  ._1kQr2vDj {
    border-top-color: var(--suite-theme-border-color) !important;
  }
}
