html[data-suite-theme] {
  ._3N8OmG8V {
    background-color: #333 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .bAaR7RCf:hover {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  ._2dwoD_FC {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  ._18v7Iz7Q {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .WGycBeKz {
    background-color: var(--suite-theme-color-accent-bg) !important;
    border-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  ._2Ef0CCuB {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._3q5EQP9L {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  ._3UlsRPlz {
    color: var(--suite-theme-color-secondary) !important;
  }

  .xvFSckQ6 {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3u-ooGhO:hover ._168WKOXC {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }
}
