html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  ._2M-TmtZI {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2M-TmtZI:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }
}
