html[data-suite-theme] {
  ._2B3Ly9oj {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3NLN59hC {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .MDyoowC6:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%) !important;
  }

  ._1kQr2vDj {
    border-top-color: #e8e8e8 !important;
  }

  ._1AXOHVRn {
    border-top-color: #e8e8e8 !important;
  }

  ._3uZqPfLC {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._26yEicJP + ._26yEicJP {
    border-top-color: #e8e8e8 !important;
  }

  ._1XWSozd5 {
    border-bottom-color: #e8e8e8 !important;
  }

  ._1XWSozd5:nth-child(odd) {
    background: #f7f8f9 !important;
  }

  ._1XWSozd5:nth-child(2n) {
    background: #fff !important;
  }

  ._3dppn0ls {
    border-top-color: #e8e8e8 !important;
  }

  ._2WdSLV9g {
    background: #fff !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
