html[data-suite-theme] {
  .HYW76b34 {
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5 !important;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff !important;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf !important;
  }

  ._3-W3NFy8 {
    border-color: #e6605c !important;
  }

  ._3jh6ix0v {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .HNj2UG1r {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._34xCdDCO {
    color: #000 !important;
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }
}
