html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: var(--suite-theme-bg) !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .iFMi1SJU {
    background: #fff !important;
  }

  ._1Wf2_3mI .iFMi1SJU:not(.QE1kBvCG):after {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  ._1wutmMzo {
    color: var(--suite-theme-color-secondary) !important;
  }

  .QE1kBvCG {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._29EwJ2TB .iFMi1SJU:not(.QE1kBvCG) {
    border-color: var(--suite-theme-border-color) !important;
  }

  ._2Dk4Jq5M {
    color: #007bc2 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._29EwJ2TB .iFMi1SJU:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16) !important;
    }
  }
}
