html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff !important;
  }

  ._3SIBT-bT {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  ._2M-TmtZI {
    color: #009fdf !important;
  }

  ._2M-TmtZI:after {
    background-color: #009fdf !important;
  }

  ._1HaCyFuQ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8 !important;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent !important;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9 !important;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit !important;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb !important;
    }
  }

  ._3cIdhHji {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
