html[data-suite-theme="soft-blue"] {
  --suite-theme-color-accent-bg: #009fe3;
  --suite-theme-color-accent-fg: #000;
  --suite-theme-login-logo-filter: drop-shadow(0px 0px 4px #727b84);
  --suite-theme-bg-app: #1c1e25;
  --suite-theme-bg-prominent: #1c1e25;
  --suite-theme-bg: #22272e;
  --suite-theme-bg-midlite: #282e35;
  --suite-theme-bg-lite: #2d333b;
  --suite-theme-color: #cdd9e5;
  --suite-theme-color-secondary: #768390;
  --suite-theme-border-color: #393e46;
  --suite-theme-scroll-bg: #24292e;
  --suite-theme-scroll-thumb-bg: #586069;
  --suite-theme-scroll-track-bg: #586069;
  --suite-theme-red: #c55a56;
  --suite-theme-green: #00773f;
  --suite-theme-textonred: #cecece;
  --suite-theme-textongreen: #cecece;
  --suite-theme-brightness: 95%;
  --suite-theme-global-contrast: 100%;
  --suite-theme-global-saturate: 100%;
  --suite-theme-chart-line-color: #00425d;
  --suite-theme-chart-line-bg: rgb(0 0 0 / 25%);
}
