html[data-suite-theme] {
  button {
    background: transparent;
  }

  button[disabled] {
    background-color: #d4d4d4;
    color: #fff;
  }

  input::-ms-value,
  select::-ms-value,
  textarea::-ms-value {
    background-color: inherit;
  }

  input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.55);
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.55);
  }

  input:-webkit-autofill {
    background-color: transparent !important;
  }

  input[disabled]::-moz-placeholder,
  input[readonly]::-moz-placeholder {
    color: #d4d4d4;
  }

  input[disabled],
  input[disabled]::placeholder,
  input[readonly],
  input[readonly]::placeholder {
    color: #d4d4d4;
  }

  body,
  html {
    background-color: #fff;
  }

  .\@icon\:iconShape\@ {
    fill: currentColor;
  }

  ._2wiHXP95 svg {
    fill: currentColor;
  }

  .\@icon\:accentIcon\@ {
    color: #009fdf;
  }

  .\@icon\:hintIcon\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@icon\:disabledIcon\@ {
    color: #d4d4d4;
  }

  .\@icon\:secondaryActionIcon\@ {
    color: #333;
  }

  .\@icon\:activeItemDetailsIconWrapper\@,
  .\@icon\:itemDetailsIconWrapper\@:hover {
    background-color: #bbe2f5;
  }

  .\@snackbar\:snackbar\@ {
    background-color: #181a21;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    color: #fff;
  }

  .\@snackbar\:action\@ {
    color: #009fdf;
  }

  .\@snackbar\:closeButton\@ {
    color: #ababab;
  }

  .\@status\:infoStatusText\@ {
    color: #009fdf;
  }

  .\@status\:successStatusText\@ {
    color: #00a658;
  }

  .\@status\:alertStatusText\@,
  .\@status\:failureStatusText\@ {
    color: #e6605c;
  }

  .\@status\:warningStatusText\@,
  .\@status\:pendingStatusText\@ {
    color: #f2892e;
  }

  .\@status\:inactiveStatusText\@ {
    color: #ababab;
  }

  .\@status\:failureStatusBackground\@,
  .\@status\:alertStatusBackground\@ {
    background-color: #fdf0ef;
  }

  .\@status\:infoStatusBackground\@ {
    background-color: #e5f5fb;
  }

  .\@status\:warningStatusBackground\@ {
    background-color: rgba(242, 137, 46, 0.14);
  }

  .\@buy-sell-badge\:buyBadge\@ {
    color: #008753;
  }

  .\@buy-sell-badge\:sellBadge\@ {
    color: #cc4c3b;
  }

  .\@value\:positiveValue\@ {
    color: #008753;
  }

  .\@value\:negativeValue\@ {
    color: #cc4c3b;
  }

  .\@value\:valueGrowHighlighting1\@:after,
  .\@value\:valueGrowHighlighting2\@:after {
    background: #008753;
  }

  .\@value\:valueFallHighlighting2\@:after,
  .\@value\:valueFallHighlighting1\@:after {
    background: #cc4c3b;
  }

  .\@value\:relativeDiffValueText\@.\@value\:positiveValue\@ {
    color: #008753;
  }

  .\@value\:relativeDiffValueText\@.\@value\:negativeValue\@ {
    color: #cc4c3b;
  }

  .\@value\:orderTriggerValue\@[disabled] {
    background-color: transparent;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@value\:orderTriggerValue\@:not([disabled]):focus,
    .\@value\:orderTriggerValue\@:not([disabled]):hover {
      color: #009fdf;
    }
  }

  ._3n7H-eSi {
    color: #00a658;
  }

  ._2SBhdd1O {
    color: #e6605c;
  }

  ._29t5APwC {
    background-color: #f3f4f5;
    color: #333;
  }

  .duvfw-AB {
    background-color: #009fdf;
    color: #fff;
  }

  ._25y7gyVl {
    background-color: #fff;
    border-color: #e8e8e8;
    color: #000;
  }

  .\@button\:disabledButton\@ {
    background-color: #d4d4d4;
    color: #fff;
  }

  .\@button\:textButton\@.\@button\:disabledButton\@ {
    background-color: transparent;
  }

  .\@button\:selectableButtonWithBackdrop\@:focus:before,
  .\@button\:selectableButtonWithBackdrop\@:hover:before,
  .\@button\:activeButtonWithBackdrop\@:before {
    background-color: rgba(152, 161, 177, 0.2);
  }

  .\@button\:transition\@:after {
    background-image: repeating-linear-gradient(
      45deg,
      #007bc2,
      #007bc2 8px,
      #fff 0,
      #fff 16px
    );
  }

  @media (pointer: fine), all and (pointer: none) {
    ._25y7gyVl:not(.\@button\:disabledButton\@):hover {
      background-color: #f3f4f5;
      border-color: #f3f4f5;
    }
    .duvfw-AB:not(.\@button\:disabledButton\@):hover {
      background-color: #007bc2;
    }
    ._25y7gyVl:not(.\@button\:disabledButton\@):focus,
    ._29t5APwC:not(.\@button\:disabledButton\@):focus,
    .duvfw-AB:not(.\@button\:disabledButton\@):focus {
      background-color: #fff;
      border-color: #009fdf;
      color: #007bc2;
    }
  }

  .\@external-html-content\:externalHtmlContent\@ a {
    color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@external-html-content\:externalHtmlContent\@ a:focus,
    .\@external-html-content\:externalHtmlContent\@ a:hover {
      color: #007bc2;
    }
  }

  .\@scroll-panel\:verticalScrollPanelShadowedWrapper\@:after,
  .\@scroll-panel\:verticalScrollPanelShadowedWrapper\@:before {
    background: linear-gradient(180deg, #fff 30%, hsla(0, 0%, 100%, 0));
  }

  .\@scroll-panel\:horizontalScrollPanelShadowedWrapper\@:after,
  .\@scroll-panel\:horizontalScrollPanelShadowedWrapper\@:before {
    background: linear-gradient(90deg, #fff 0, hsla(0, 0%, 100%, 0));
  }
  ._1ZM6JdZl:after,
  ._1ZM6JdZl:before {
    background: linear-gradient(270deg, transparent 0, #000);
  }

  .\@modal\:backdrop\@ {
    background-color: rgba(0, 0, 0, 0.55);
  }

  .\@modal\:window\@ {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .\@app-component\:compactHeaderPlaceholder\@ {
    background-color: #009fdf;
  }

  .\@app-component\:fullHeaderPlaceholder\@ {
    background-color: #fff;
  }

  .\@app-component\:dataVendors\@ {
    background-color: #edeff1;
    color: rgba(0, 0, 0, 0.55);
  }

  @media (min-width: 1440px) {
    .\@app-component\:globalFeedbackButton\@ {
      background-color: #333;
      color: #fff;
    }
  }

  .\@side-information-panel\:baseOpenedLayout\@ {
    background-color: #fff;
    border-left-color: #d4d4d4;
  }

  ._1Jd_i_hS {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .\@side-information-panel\:header\@ {
    border-bottom-color: #d4d4d4;
  }

  .\@side-information-panel\:navigationItem\@ {
    border-bottom-color: #d4d4d4;
  }

  ._3GVSy4VH {
    border-top-color: #d4d4d4;
  }

  ._2jN_Jz5z ._3GVSy4VH {
    border-bottom-color: transparent;
  }

  ._3qim-euk + .\@side-information-panel\:section\@ ._3GVSy4VH,
  ._3qim-euk + ._3GVSy4VH {
    border-top-color: transparent;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3GVSy4VH:focus {
      border-color: #009fdf;
    }
  }

  .\@hint\:popup\@ {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    color: #000;
  }

  .\@hint\:closeButtonIcon\@ {
    color: #ababab;
  }

  .\@hint\:content\@ {
    background: #000;
    color: #fff;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@hint\:layout\@:focus .\@hint\:icon\@ {
      color: #009fdf;
    }
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@data-vendors\:toggleIcon\@:hover {
      color: #007bc2;
    }
  }

  .\@form\:formTitle\@ {
    color: #000;
  }

  .\@form\:formExtraInfo\@ {
    border-top-color: #e8e8e8;
  }

  .\@form\:fieldError\@ {
    color: #e6605c;
  }

  .\@account-summary\:layout\@ {
    background-color: #fff;
    border-bottom-color: #e8e8e8;
  }

  .\@account-summary\:bottomLayout\@ {
    border-top-color: #e8e8e8;
  }

  .\@account-summary\:bottomLayout\@:before {
    background: linear-gradient(hsla(0, 0%, 100%, 0.1), rgba(0, 0, 0, 0.1));
  }

  .\@page\:pageWrapperWithCardsGrid\@ {
    background-color: #edeff1;
  }

  .\@page\:pageWrapperWithCardsGrid\@ .\@page\:pageCard\@ {
    border-color: #e8e8e8;
  }

  .\@page\:pageHeaderAsCard\@ {
    background-color: #fff;
  }

  .\@link\:actionLink\@ {
    color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@link\:actionLink\@:focus,
    .\@link\:actionLink\@:hover {
      color: #007bc2;
    }
    .\@link\:accentWhenSelectedLink\@:focus,
    .\@link\:accentWhenSelectedLink\@:hover {
      color: #009fdf;
    }
  }

  .\@card\:cardsDivider\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  ._1zoYYmyE {
    background-color: #fff;
  }

  .\@card\:cardSubHeader\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@table\:cell\@ {
    background-color: #fff;
  }

  ._3fYLd38o {
    border-bottom-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.55);
  }

  .\@table\:detailsIconCell\@,
  .\@table\:feedQualityCell\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@table\:secondaryContentCell\@,
  .\@table\:secondaryContentRow\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@table\:row\@ .\@table\:cell\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@table\:row\@:first-child .\@table\:cell\@ {
    border-top-color: #e8e8e8;
  }

  .\@table\:row\@.\@table\:selectedRow\@ .\@table\:cell\@ {
    background-color: #f3f4f5;
  }

  .\@table\:row\@:not(.\@table\:selectedRow\@):nth-child(odd) .\@table\:cell\@:not(._3fYLd38o) {
    background-color: #f7f8f9;
  }

  .\@table\:startStickyCell\@:before {
    background: #d4d4d4;
  }

  .\@table\:startStickyCell\@:after {
    background: #e8e8e8;
  }

  .\@table\:startStickyCellShadowedContent\@:after {
    background-image: linear-gradient(
      270deg,
      hsla(0, 0%, 100%, 0.15) 0,
      #d4d4d4 90%,
      #ababab
    );
  }

  .\@table\:footerPageSizeSelectorLabel\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@table\:hoverableRow\@:hover .\@table\:cell\@ {
      background-color: #e4f4fb;
    }
    .\@table\:selectableRow\@:hover .\@table\:cell\@ {
      background-color: #e4f4fb;
    }
  }

  @supports (-ms-ime-align: auto) {
    .\@table\:startStickyCell\@ {
      border-right-color: #e8e8e8;
    }
  }

  .\@group-select\:group\@ {
    color: #000;
  }

  ._2tmBgf2f {
    border-bottom-color: transparent;
  }

  .\@group-select\:activeItem\@,
  .\@group-select\:activeItem\@[disabled] {
    background-color: transparent;
    border-bottom-color: #009fdf;
    color: #009fdf;
  }

  .\@expanded-payments-info\:layout\@ {
    border-left-color: #e8e8e8;
  }

  .\@feed-quality\:badge\@ {
    color: #000;
  }

  .\@feed-quality\:badge\@:before {
    background-color: #008753;
  }

  .\@feed-quality\:badgeWithDelayedValue\@:before {
    background-color: #f2892e;
  }

  .\@feed-quality\:badgeWithEndOfDayValue\@:before {
    background-color: #007bc2;
  }

  .\@actions-menu\:actionsMenu\@ {
    background-color: #fff;
  }

  .\@actions-menu\:actionItemsSeparator\@ {
    background-color: #e8e8e8;
  }
  .\@actions-menu\:actionItem\@:focus {
    background-color: #e4f4fb;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@actions-menu\:actionItem\@:hover {
      background-color: #e4f4fb;
    }
  }

  ._21l9ETAc {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@product-category-badge\:badge\@ {
    background-color: #fff;
  }

  .\@details-overview\:lineTopSeparator\@ {
    border-top-color: #e8e8e8;
  }

  .\@details-overview\:lineBottomSeparator\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@product-trading-buttons\:smallButton\@,
  .\@product-trading-buttons\:largeButton\@ {
    color: #fff;
  }
  .\@product-trading-buttons\:buyButton\@ {
    background-color: #00a658;
  }

  .\@product-trading-buttons\:sellButton\@ {
    background-color: #e6605c;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@product-trading-buttons\:buyButton\@:not([disabled]):focus,
    .\@product-trading-buttons\:buyButton\@:not([disabled]):hover {
      background-color: #008753;
    }
    .\@product-trading-buttons\:sellButton\@:not([disabled]):focus,
    .\@product-trading-buttons\:sellButton\@:not([disabled]):hover {
      background-color: #cc4c3b;
    }
  }

  .\@product-info-toggle\:popupContent\@ {
    background-color: #fff;
    border-color: #000;
  }

  .\@product-info-toggle\:detailsLine\@ {
    border-top-color: #e8e8e8;
  }

  .\@payments-view\:noDataMessage\@ {
    color: rgba(0, 0, 0, 0.55);
  }
  .\@payments-view\:cell\@ {
    border-bottom-color: #e8e8e8;
  }

  ._2SEldLb2 {
    color: rgba(0, 0, 0, 0.55);
  }

  .rtSmT2Hs {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@payments-navigation\:button\@ {
    background-color: #000;
    color: #fff;
  }

  .\@sections\:section\@[disabled],
  .\@sections\:sectionToggle\@[disabled] {
    background-color: transparent;
    color: #000;
  }

  .\@sections\:sectionLabel\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@sections\:valuesVisibilityButton\@ {
    color: #009fdf;
  }

  .\@settings-list-toggle\:settingsList\@ {
    background-color: #fff;
  }

  .\@settings-list-toggle\:settingsListItem\@ + .\@settings-list-toggle\:settingsListItem\@ {
    border-top-color: #e8e8e8;
  }

  .\@settings-list-toggle\:settingsListButton\@,
  .\@settings-list-toggle\:settingsListButton\@[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.55);
  }

  .\@settings-list-toggle\:settingsListButton\@.\@settings-list-toggle\:settingsListActiveButton\@ {
    color: #009fdf;
  }

  .\@compact-header\:controlButton\@,
  .\@compact-header\:header\@ {
    background-color: #009fdf;
    color: #fff;
  }
}
