html[data-suite-theme] {
  ._3JvmSTh1 {
    background-color: #f3f4f5;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf;
  }

  ._3-W3NFy8 {
    border-color: #e6605c;
  }

  ._3jh6ix0v {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }
}
