html[data-suite-theme] {
  .nr1fnQPu {
    background-color: #f3f4f5;
  }

  ._16cifz_o {
    background-color: inherit;
    caret-color: transparent;
  }

  ._16cifz_o:focus {
    outline: none;
  }

  .XVXLYIYg {
    background-color: inherit;
    caret-color: auto;
  }

  ._183dJS1F,
  .t6fXY4z- {
    color: rgba(0, 0, 0, 0.55);
  }

  .t6fXY4z- ._183dJS1F {
    color: #ababab;
  }

  ._16cifz_o + ._183dJS1F {
    color: #000;
  }

  ._2o-tQ7jU {
    background-color: #fff;
    border-color: #d4d4d4;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  ._3iCGaL0N:hover,
  ._17zdndP5 {
    background-color: #e4f4fb;
  }

  @media (pointer: fine), all and (pointer: none) {
    .nr1fnQPu:focus-within {
      background-color: #fff;
      border-color: #009fdf;
    }
  }

  ._2sEfnFha {
    background-color: #f3f4f5;
    border-color: #e8e8e8;
  }

  ._1zmCpsAw {
    background-color: #009fdf;
    color: #fff;
  }

  ._3UnmXUL9 + ._28Nt9E6W:not(._3UnmXUL9),
  ._36fNi0BA {
    border-top-color: #d4d4d4;
  }

  ._36fNi0BA {
    background-color: #fff;
  }
}
