html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent;
  }

  ._1GMEuLu5 {
    color: rgba(0, 0, 0, 0.55);
  }

  ._19nlLTqn ._3QiKxaLm {
    color: #000;
  }

  ._3xLohwEW {
    word-break: break-word;
  }

  ._2MnhUNur {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3nV1RBSy.e2mNNFja {
    border-top: 0;
  }

  ._3fNf038_ {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3azz-ku6 {
    background-color: #fff;
    border-bottom-color: #e8e8e8;
  }

  ._2LoO-18t {
    color: rgba(0, 0, 0, 0.55);
  }

  .vlVKdFGV {
    background-color: #fff;
  }

  ._2SEKkei0 {
    background-color: #fff;
  }

  .NmNsx9VS {
    color: #000;
  }
}
