html[data-suite-theme] {
  ._3fsQ8Cps {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3v7KvgqR {
    color: #000;
  }

  .Ww9dtK-j._2UVGMGP3 {
    border-top-color: #e8e8e8;
  }

  ._3_nIrzwr {
    color: #ababab;
  }

  ._32GwrzNb {
    color: #ababab;
  }
}
