html[data-suite-theme] {
  ._1CVTc3bB {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3XtTiBQM {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3SHcS-Ra {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3XtTiBQM:hover {
      color: #007bc2;
    }
  }
}
