html[data-suite-theme] {
  ._1Yzp_hiy {
    color: #ababab;
  }

  ._1WbrYw9_ {
    border-color: #d4d4d4;
    object-fit: cover;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent;
  }

  ._2me9YHul {
    border-color: #d4d4d4;
  }

  ._2me9YHul[disabled] {
    background-color: transparent;
    color: #ababab;
  }

  ._3M8v3em7 {
    border-left-color: #d4d4d4;
  }

  ._3M8v3em7:first-child {
    border-left: 0;
  }

  ._1i_UDq8g ._3M8v3em7 {
    background-color: #f7f8f9;
    border-bottom-color: #d4d4d4;
  }

  ._1i_UDq8g ._1ivg9Ttu {
    background-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #d4d4d4;
  }

  .jZEe5eS6 {
    background-color: #000;
    color: #fff;
  }

  ._5vGKVxmP {
    color: rgba(0, 0, 0, 0.55);
  }

  ._2dJ0xT1B {
    border-top-color: #e8e8e8;
  }

  ._1E31BIi1[disabled] {
    background-color: transparent;
    color: #ababab;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2GIBxeYE:focus,
    ._12DX_2Gd:focus {
      background-color: #f7f8f9;
    }
  }

  ._2UdAYB7T {
    background-color: #000;
  }
}
