html[data-suite-theme] {
  .\@element\:focusedLayout\@ {
    background-color: #fafafa;
  }

  .\@element\:listItem\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@element\:expandedLayout\@,
  .\@element\:listItem\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@element\:expandedLayout\@ .\@element\:listItem\@,
  .\@element\:expandedLayout\@:last-child,
  .\@element\:layout\@:last-child .\@element\:listItem\@:last-child {
  }

  .\@element\:focusedListItem\@:before {
    background-color: #009fdf;
  }

  .\@element\:listItemTitle\@ {
    color: #000;
  }

  ._2C0QmyHD {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@switch\:track\@ {
    background-color: #d4d4d4;
  }

  .\@switch\:thumb\@ {
    background-color: #f3f4f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:track\@ {
    background-color: #009fdf;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:thumb\@ {
    background-color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@switch\:checkbox\@:focus ~ .\@switch\:thumb\@ {
      background-color: #fff;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
    .\@switch\:checkbox\@:checked:focus ~ .\@switch\:thumb\@ {
      background-color: #009fdf;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
  }

  .\@target-market-information\:groupOptionItem\@:before,
  .\@target-market-information\:groupOptionItem\@:not(:last-child):after {
    background-color: #e8e8e8;
  }

  .\@target-market-information\:selectedGroupOptionItem\@:before {
    background-color: #009fdf;
  }

  .\@target-market-information\:groupOptionTitle\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@target-market-information\:selectedGroupOptionItem\@ .\@target-market-information\:groupOptionTitle\@ {
    color: #009fdf;
  }
}
