html[data-suite-theme] {
  .\@business-and-financial-summary-card\:lastModified\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@product-company-information\:companyProfileLastModified\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@product-company-information\:summaryMoreButton\@:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%);
  }

  .\@product-company-information\:lineTopSeparator\@ {
    border-top-color: #e8e8e8;
  }

  .\@company-information-card\:numbersSection\@ {
    border-top-color: #e8e8e8;
  }

  .\@no-data-message\:noDataToDisplay\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@issues-card\:issue\@ + .\@issues-card\:issue\@ {
    border-top-color: #e8e8e8;
  }

  .\@key-executives-card\:row\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@key-executives-card\:row\@:nth-child(odd) {
    background: #f7f8f9;
  }

  .\@key-executives-card\:row\@:nth-child(2n) {
    background: #fff;
  }

  .\@key-executives-card\:headerRow\@ {
    border-top-color: #e8e8e8;
  }

  .\@key-executives-card\:headerCell\@ {
    background: #fff;
    color: rgba(0, 0, 0, 0.55);
  }
}
