html[data-suite-theme] {
  ._131J9jh1 {
    outline-color: #e8e8e8;
  }

  ._131J9jh1:focus-within {
    outline-color: #009fdf;
  }

  ._3GPjV2U8 {
    background: transparent;
  }

  .yHNk8c1- {
    color: transparent;
  }

  ._23ryh3SY {
    background-color: #e6605c;
  }

  ._3mvUkCuk {
    color: #e6605c;
  }

  .Rw6KMAz4:disabled {
    background: inherit;
    color: #000;
  }

  .Rw6KMAz4:hover {
    background-color: #f3f4f5;
  }

  .Rw6KMAz4:focus {
    border-color: #009fdf;
    color: #009fdf;
    outline: none;
  }

  ._1MgP6zrU {
    background-color: #009fdf;
    color: #fff;
  }

  ._1MgP6zrU:hover {
    background-color: #007bc2;
  }

  ._1MgP6zrU:focus {
    background-color: #e4f4fb;
    color: #007bc2;
  }

  ._13V8dVE-:focus {
    outline-color: #009fdf;
  }

  ._3CaPzRMw {
    background-color: #f3f4f5;
  }

  ._1htE6tkS {
    color: #ababab;
  }

  ._1L16L2Eo {
    color: #009fdf;
  }

  ._2IJAHDD6 {
    color: #e6605c;
  }
}
