html[data-suite-theme="black-hole"] {
  --suite-theme-color-accent-bg: #009fe3 !important;
  --suite-theme-color-accent-fg: #000 !important;
  --suite-theme-login-logo-filter: drop-shadow(0px 0px 5px #989898) !important;
  --suite-theme-bg-app: #000000 !important;
  --suite-theme-bg-prominent: #000000 !important;
  --suite-theme-bg: #040404 !important;
  --suite-theme-bg-midlite: #080808 !important;
  --suite-theme-bg-lite: #0b0b0b !important;
  --suite-theme-color: #b7b7b7 !important;
  --suite-theme-color-secondary: #9a9a9a !important;
  --suite-theme-border-color: #151515 !important;
  --suite-theme-scroll-bg: #000000 !important;
  --suite-theme-scroll-thumb-bg: #232323 !important;
  --suite-theme-scroll-track-bg: #232323 !important;
  --suite-theme-red: #963836 !important;
  --suite-theme-green: #007941 !important;
  --suite-theme-textonred: #b3b3b3 !important;
  --suite-theme-textongreen: #b3b3b3 !important;
  --suite-theme-brightness: 75% !important;
  --suite-theme-global-contrast: 105% !important;
  --suite-theme-global-saturate: 150% !important;
  --suite-theme-chart-line-color: #1f1f1f !important;
  --suite-theme-chart-line-bg: rgb(30 30 30 / 25%) !important;
}
