html[data-suite-theme="high-contrast-white"] {
  --suite-degiroblue: #005dff;
  --suite-theme-login-logo-filter: unset;
  --suite-theme-bg-app: #ffffff;
  --suite-theme-bg-prominent: #000000;
  --suite-theme-bg: #ffffff;
  --suite-theme-bg-midlite: #f1f1f1;
  --suite-theme-bg-lite: #ffffff;
  --suite-theme-color: #000000;
  --suite-theme-color-secondary: #000000;
  --suite-theme-border-color: #000000;
  --suite-theme-scroll-bg: #000000;
  --suite-theme-scroll-thumb-bg: #d6d6d6;
  --suite-theme-scroll-track-bg: #a0a0a0;
  --suite-theme-red-color: #ff0000;
  --suite-theme-green-color: #0ea721;
  --suite-theme-textonred-color: #ffffff;
  --suite-theme-textongreen-color: #ffffff;
  --suite-theme-brightness: 100%;
  --suite-theme-global-contrast: 100%;
  --suite-theme-global-saturate: 185%;
  --suite-theme-chart-line-color: #000000;
  --suite-theme-chart-line-bg: rgb(255 255 255 / 25%);
}
