html[data-suite-theme="high-contrast-black"] {
  --suite-theme-color-accent-bg: #009fe3;
  --suite-theme-color-accent-fg: #000;
  --suite-theme-login-logo-filter: invert(1);
  --suite-theme-bg-app: #000000;
  --suite-theme-bg-prominent: #000000;
  --suite-theme-bg: #000000;
  --suite-theme-bg-midlite: #000000;
  --suite-theme-bg-lite: #000000;
  --suite-theme-color: #ffffff;
  --suite-theme-color-secondary: #ffffff;
  --suite-theme-border-color: #ffffff;
  --suite-theme-scroll-bg: #000000;
  --suite-theme-scroll-thumb-bg: #fdfdfd;
  --suite-theme-scroll-track-bg: #ffffff;
  --suite-theme-red: #ff4802;
  --suite-theme-green: #00ff07;
  --suite-theme-textonred: #ffffff;
  --suite-theme-textongreen: #000000;
  --suite-theme-brightness: 100%;
  --suite-theme-global-contrast: 120%;
  --suite-theme-global-saturate: 100%;
  --suite-theme-chart-line-color: #ffffff;
  --suite-theme-chart-line-bg: rgb(0 0 0 / 25%);
}
