html[data-suite-theme="soft-green"] {
  --suite-theme-color-accent-bg: #009fe3 !important;
  --suite-theme-color-accent-fg: #000 !important;
  --suite-theme-login-logo-filter: drop-shadow(0px 0px 4px #657766) !important;
  --suite-theme-bg-app: #1f251d !important;
  --suite-theme-bg-prominent: #1f251d !important;
  --suite-theme-bg: #2b312b !important;
  --suite-theme-bg-midlite: #2f3c2f !important;
  --suite-theme-bg-lite: #313a33 !important;
  --suite-theme-color: #cdecd2 !important;
  --suite-theme-color-secondary: #7d9a83 !important;
  --suite-theme-border-color: #384638 !important;
  --suite-theme-scroll-bg: #242e24 !important;
  --suite-theme-scroll-thumb-bg: #586069 !important;
  --suite-theme-scroll-track-bg: #586069 !important;
  --suite-theme-red: #d23c36 !important;
  --suite-theme-green: #68bd52 !important;
  --suite-theme-textonred: #fdfdfd !important;
  --suite-theme-textongreen: #000000 !important;
  --suite-theme-brightness: 85% !important;
  --suite-theme-global-contrast: 100% !important;
  --suite-theme-global-saturate: 100% !important;
  --suite-theme-chart-line-color: #023828 !important;
  --suite-theme-chart-line-bg: rgb(0 0 0 / 25%) !important;
}
