* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, HelveticaNeue, sans-serif;
  margin: 0;
  min-width: 0.95em;
  filter: native-contrast(var(--suite-theme-global-contrast))
    native-saturate(var(--suite-theme-global-saturate));

  *:last-child {
    transition: background-color 300ms ease, color 50ms ease,
      border-color 50ms ease;
  }
}

* {
  user-select: none;
  color: var(--suite-theme-color);
}

.content {
  background-color: var(--suite-theme-bg);
  border: 2px solid rgb(184, 184, 184);
}

.form {
  padding: 11px;
}

.form-buttons {
  padding-top: 2em;
}

fieldset {
  border: 0;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
}

.description {
  font-weight: bold;
  font-size: 1em;
}

.bottom {
  background-color: var(--suite-theme-bg-lite);
  text-align: center;

  .btn-container {
    margin: 0.3rem 0;

    + .btn-container {
      margin-left: 1em;
    }
  }
}

select {
  background-color: var(--suite-theme-bg-lite);
  border: 1px solid transparent;
  font-weight: 400;
  padding: 4px;
  margin-top: 0.2em;
}

#settings {
  display: none;
}

body.showSettings #settings {
  display: block;
}

iframe#quickOrder {
  border: 0;
}

div.radio-element {
  line-height: 22px;

  input[type="radio"] {
    vertical-align: sub;
  }

  label {
    vertical-align: bottom;
  }
}

// .tabIcon {
//   margin-right: 4px;

//   &.settingsIcon {
//     font-size: 1.3rem;
//   }

//   &.quickOrderIcon {
//     color: transparent;
//     text-shadow: 0 0 1px var(--suite-theme-color);
//   }
// }

#reloadButton {
  display: none;
  top: 34px;
  right: 3px;
  position: absolute;
  font-size: 1.6em;
  color: #00b100;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;

  &:focus {
    outline: 0;
  }

  &:active {
    top: 35px;
    right: 2px;
  }
}

span.info-icon {
  cursor: pointer;
  font-size: 1.3em;
  margin-left: 3px;
}

#radio-theme-auto {
  display: none;
}

#fx-calc {
  fieldset {
    border: 1px solid var(--suite-theme-border-color);
    border-radius: 6px;

    .title {
      font-weight: bold;
      margin: 0 -0.75em 1em -0.75em;
    }
  }

  .foldable-content {
    // padding-top: 1em;
  }

  #fx-amount {
    width: 120px;
  }

  div.fx-calc-amount-container {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    select {
      margin: 0 0 0 0.3em;
      padding: 0;
    }
  }
}

.foldable {
  .foldable-trigger {
    cursor: pointer;

    &::before {
      content: "▸";
    }

    &.open::before {
      content: "▾";
    }
  }

  .foldable-content {
    max-height: 0;
    opacity: 0;
    // transition: max-height 150ms ease-out, visibility 150ms ease-out;
    visibility: hidden;
    transition: max-height 100ms ease-out, opacity 100ms ease-out,
      visibility 0s ease-out 100ms;

    &.open {
      max-height: 500px;
      opacity: 1;
      // transition: max-height 150ms ease-in, visibility 150ms ease-in;
      visibility: visible;
      transition: max-height 100ms ease-in, opacity 100ms ease-in,
        visibility 0s ease-in;
    }
  }
}

/* This detects if "prefers-color-scheme" is supported */
@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  #radio-theme-auto {
    display: block;
  }
}
