:root {
  --suite-theme-bg-prominent: #101010;
  --suite-theme-bg: #fff;
  --suite-theme-bg-lite: #edeff1;
  --suite-theme-bg-midlite: #dbdbdb;
  --suite-theme-color: #000;
  --suite-theme-color-secondary: #666;
  --suite-theme-border-color: #dadcdf;
  --suite-theme-global-contrast: 100%;
  --suite-theme-global-saturate: 80%;
}
