html[data-suite-theme] {
  ._2nB0NFT4 {
    background-color: #181a21;
  }

  .rWVJdq6U {
    color: #98a1b1;
  }

  .QDPk8OLd {
    color: #fff;
  }

  .QDPk8OLd ._2tHmlr0F {
    color: #009fdf;
  }

  ._2nB0NFT4 ._5TQ_UgEr {
    color: #fff;
  }
}
