html[data-suite-theme] {
  ._1MuJ1GRk {
    border-bottom-color: #d4d4d4;
    color: rgba(0, 0, 0, 0.55);
  }

  ._2iagDYD1 {
    color: #000;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf;
  }

  ._3-W3NFy8 {
    border-color: #e6605c;
  }

  ._3jh6ix0v {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  ._2IXrK1CA {
    background-color: #f3f4f5;
  }

  .V09i3yvL {
    border-left-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    .V09i3yvL:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  ._3K08ms9k + ._3K08ms9k {
    border-top-color: #e8e8e8;
  }
}
