html[data-suite-theme] {
  ._3K08ms9k + ._3K08ms9k {
    border-top-color: #e8e8e8;
  }

  ._3JvmSTh1 {
    background-color: #f3f4f5;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf;
  }

  ._3-W3NFy8 {
    border-color: #e6605c;
  }

  ._3jh6ix0v {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  ._3gW7N2zK {
    background-color: #f3f4f5;
  }

  .kpZgEsAD {
    background-color: transparent;
  }

  ._2zd9-3cj + ._2zd9-3cj {
    border-left-color: #f3f4f5;
  }

  ._2zd9-3cj[disabled] {
    background-color: transparent;
  }

  .cdcYYFOO {
    color: #fff;
  }

  .cdcYYFOO:first-child {
    background-color: #00a658;
  }

  .cdcYYFOO:last-child {
    background-color: #009fdf;
  }

  ._2zd9-3cj[disabled].cdcYYFOO {
    background-color: #d4d4d4;
    color: #000;
  }

  .LxrALQ7-:last-child {
    background-color: #e6605c;
  }

  .kSPLeTvJ {
    background-color: #f3f4f5;
    border-color: #f3f4f5;
  }

  ._1ASjxRvu {
    background-color: #fff;
    border-color: #009fdf;
  }

  ._35GLVuG2 {
    border-top-color: #d4d4d4;
  }

  ._35GLVuG2 + ._35GLVuG2 {
    border-top: 0;
  }

  ._2fEWKGqL {
    color: rgba(0, 0, 0, 0.55);
  }

  ._1pY1orTj {
    color: rgba(0, 0, 0, 0.55);
  }

  ._2oWoXcNf {
    color: #000;
  }

  ._1V8z-9bE {
    background-color: transparent;
  }

  ._31320W00 ._24ScMuu4 {
    background-color: #fff;
    border-color: #e8e8e8;
  }

  ._31320W00 ._24ScMuu4:focus-within {
    border-color: #009fdf;
  }

  .AxZvdu2w {
    color: #e6605c;
  }

  ._3C0lad-l {
    background-color: #fff;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14);
  }

  ._1VHD57HG {
    color: #000;
  }

  @media (min-width: 1024px) {
    ._3C0lad-l {
      border-left-color: #d4d4d4;
    }
  }
}
