html[data-suite-theme] {
  ._3JvmSTh1 {
    background-color: #f3f4f5;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf;
  }

  ._3-W3NFy8 {
    border-color: #e6605c;
  }

  ._3jh6ix0v {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  ._2A-PyhWT:hover,
  ._3uOwJ2TK {
    background-color: #e4f4fb;
  }

  ._1kQuXOpG[disabled] {
    background-color: transparent;
  }

  ._1kQuXOpG[disabled] ._3aV3ngbl {
    color: #ababab;
  }

  ._3f1ZNxzU {
    background-color: #d4d4d4;
  }

  ._3f1ZNxzU + ._3f1ZNxzU {
    background-color: #009fdf;
    color: #fff;
  }

  ._3SCwVTuP {
    border-top-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2RVZeMtn:focus {
      background-color: #e4f4fb;
    }
  }
}
