html[data-suite-theme] {
  ._8UmNn1vK {
    color: rgba(0, 0, 0, 0.55);
  }

  .FTDOIjUm {
    color: #ffb300;
  }

  ._34wmBpDV {
    background: transparent;
  }

  ._2BsLVUFU {
    border-color: #d4d4d4;
  }

  ._2Uu-PhjH {
    color: rgba(0, 0, 0, 0.55);
  }
}
