html[data-suite-theme] {
  ._2yIQtRn4 ._3n28doiM._2uPWOaAd {
    border-top: 0;
  }

  ._1CVTc3bB {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3XtTiBQM {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3SHcS-Ra {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3XtTiBQM:hover {
      color: #007bc2;
    }
  }
}
