html[data-suite-theme] {
  ._1WbrYw9_ {
    border-color: #d4d4d4;
    object-fit: cover;
  }

  ._1WbrYw9_._3w7YM0bX {
    border-color: transparent;
  }

  ._1KhdrThW:focus + .Qgbk06Ib {
    color: #009fdf;
  }

  .wKb4xEDK {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  ._3W5tpmzT {
    background-color: #009fdf;
    color: #fff;
  }

  ._1xTj_g_w[disabled],
  ._3ikYP1Sz[disabled],
  ._3sBaDV1Z[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._1xTj_g_w:not([disabled]):not(._3W5tpmzT):hover,
    ._3ikYP1Sz:not([disabled]):hover {
      background-color: #f3f4f5;
    }
  }

  .IIr0vEtl {
    border-bottom-color: #e8e8e8;
  }

  ._2mblqc1D {
    color: #000;
  }

  ._2mblqc1D[disabled] {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.25);
  }

  ._29cya0qL .Assm8m4p {
    border-bottom-color: #e8e8e8;
  }

  .jYQQ4EKJ {
    color: rgba(0, 0, 0, 0.55);
  }

  .HYW76b34 {
    background: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 767px) {
    .KQVzNy4q {
    }
  }

  ._2aaXLEv1 {
    background-color: transparent;
  }
}
