html[data-suite-theme] {
  ._3fsQ8Cps {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3v7KvgqR {
    color: #000;
  }

  ._3_48UyQ7 {
    color: #000;
  }

  ._2f4nmAf5,
  ._3sik6KCI {
    border-bottom-color: #e8e8e8;
  }

  ._3sik6KCI {
    background-color: #e4f4fb;
  }

  ._2f4nmAf5:last-of-type {
    border-bottom: none;
  }

  .mAkmuPN8 {
    color: rgba(0, 0, 0, 0.55);
  }

  .cHaLMbqt {
    border-bottom-color: #e8e8e8;
  }

  ._1QJRxgQc {
    color: #000;
  }

  .cHaLMbqt:nth-child(2n):nth-last-child(-n + 3) ~ .cHaLMbqt {
  }

  ._1J3DLNkR {
    border-bottom-color: #e8e8e8;
  }
}
