html[data-suite-theme] {
  ._3N8OmG8V {
    background-color: #333;
  }

  @media (pointer: fine), all and (pointer: none) {
    .bAaR7RCf:hover {
      color: #009fdf;
    }
  }

  ._2h2YaWrE {
    background-color: #fafafa;
  }

  ._3cNJiTRI ._1xsdEprT:last-child ._1EP--32- {
    border-bottom-color: #e8e8e8;
  }

  ._1xsdEprT:not(._2bcIrSh2):nth-child(odd) ._1EP--32-:not(._2h2YaWrE) {
    background-color: #fff;
  }

  .xvFSckQ6 {
    border-bottom-color: #e8e8e8;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3u-ooGhO:hover ._168WKOXC {
      color: #009fdf;
    }
  }
}
