html[data-suite-theme] {
  ._3NLN59hC {
    color: rgba(0, 0, 0, 0.55);
  }

  .MDyoowC6:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%);
  }

  ._1kQr2vDj {
    border-top-color: #e8e8e8;
  }
}
