html[data-suite-theme] {
  ._2B3Ly9oj {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3NLN59hC {
    color: rgba(0, 0, 0, 0.55);
  }

  .MDyoowC6:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%);
  }

  ._1kQr2vDj {
    border-top-color: #e8e8e8;
  }

  ._1AXOHVRn {
    border-top-color: #e8e8e8;
  }

  ._3uZqPfLC {
    color: rgba(0, 0, 0, 0.55);
  }

  ._26yEicJP + ._26yEicJP {
    border-top-color: #e8e8e8;
  }

  ._1XWSozd5 {
    border-bottom-color: #e8e8e8;
  }

  ._1XWSozd5:nth-child(odd) {
    background: #f7f8f9;
  }

  ._1XWSozd5:nth-child(2n) {
    background: #fff;
  }

  ._3dppn0ls {
    border-top-color: #e8e8e8;
  }

  ._2WdSLV9g {
    background: #fff;
    color: rgba(0, 0, 0, 0.55);
  }
}
