html[data-suite-theme] {
  ._3aKD8cJa {
    fill: rgba(0, 0, 0, 0.55);
  }

  .JFqlBKZR {
    stroke: #e8e8e8;
  }

  ._2Wj09Ukw {
    fill: rgba(0, 0, 0, 0.55);
  }

  ._117F2TyM {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3uZqPfLC {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3oLn_MN8 {
    background-color: #fafafa;
    border-color: #d4d4d4;
  }

  ._3KsPwl0e {
    background: linear-gradient(90deg, #00a658, #d4d4d4 50%, #e6605c);
  }

  .RyrAgVRb {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3hxM_TrW {
    color: #fff;
  }

  ._3hxM_TrW,
  ._3hxM_TrW:after {
    background-color: #000;
  }
}
