html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff;
  }

  ._3SIBT-bT {
    color: #ababab;
  }

  ._1JPj7mYU {
    background-color: #fff;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8;
  }

  ._3sp9rzcO {
    color: #000;
  }

  ._2M-TmtZI {
    color: #009fdf;
  }

  ._2M-TmtZI:after {
    background-color: #009fdf;
  }

  ._1HaCyFuQ {
    background-color: #181a21;
    color: #fff;
  }
}
