html[data-suite-theme] {
  ._3aQXaZJj,
  .esNU1WY_ {
    border-bottom-color: #e8e8e8;
  }

  ._1sj426FH {
    background-color: #fafafa;
  }

  ._3UbVFYsd {
    color: rgba(0, 0, 0, 0.55);
  }

  .eSdyvZw8 {
    color: #e6605c;
  }

  .EDqJuGMT {
    color: #00a658;
  }

  ._2jxzJAJV {
    background-color: #e6605c;
  }

  ._2x3xBxHI {
    background-color: #00a658;
  }
}
