html[data-suite-theme] {
  ._1VrRUXxk {
    background-color: #fff;
  }

  ._3SIBT-bT {
    color: #ababab;
  }

  ._1HaCyFuQ {
    background-color: #181a21;
    color: #fff;
  }

  .iFMi1SJU {
    background: #fff;
  }

  ._1Wf2_3mI .iFMi1SJU:not(.QE1kBvCG):after {
    border-top-color: #e8e8e8;
  }

  ._1wutmMzo {
    color: rgba(0, 0, 0, 0.55);
  }

  .QE1kBvCG {
    background-color: #009fdf;
    color: #fff;
  }

  ._29EwJ2TB .iFMi1SJU:not(.QE1kBvCG) {
    border-color: #e8e8e8;
  }

  ._2Dk4Jq5M {
    color: #007bc2;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._29EwJ2TB .iFMi1SJU:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
