html[data-suite-theme] {
  ._3JvmSTh1 {
    background-color: #f3f4f5;
  }

  ._3JvmSTh1:focus-within,
  .bdrWSXIv {
    background-color: #fff;
  }

  ._3JvmSTh1:not(._3-W3NFy8):focus-within,
  .bdrWSXIv {
    border-color: #009fdf;
  }

  ._3-W3NFy8 {
    border-color: #e6605c;
  }

  ._3jh6ix0v {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  ._2SrzFmAE ._1BDyVcdM {
    background-color: inherit;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2SrzFmAE ._1BDyVcdM:focus {
      background-color: inherit;
    }
  }

  ._2kkWoRPp {
    color: rgba(0, 0, 0, 0.55);
  }

  ._3JWUeKY8,
  ._3Y0KrE9V {
    border-bottom-color: #e8e8e8;
  }

  ._3JWUeKY8:not(._3Y0KrE9V):last-child {
    border-bottom-color: transparent;
  }

  ._1Zrwwp4K {
    background-color: #f7f8f9;
  }

  ._281AtAZr ._1Zrwwp4K:after,
  ._281AtAZr ._2ALhJK48:after {
    background-color: inherit;
  }

  ._1F6vKW7N {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2ALhJK48:hover,
    ._3JWUeKY8:focus {
      background-color: #e4f4fb;
    }
  }

  ._2JftW9pE {
    background: #f3f4f5;
    border-color: #f3f4f5;
  }

  .zv7VOqXQ ._2JftW9pE ._1GYK5I9g {
    background: inherit;
    border-color: transparent;
  }

  ._2FeXrD9P {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2JftW9pE:focus-within {
      background: #f3f4f5;
      border-color: #f3f4f5;
    }
  }
}
