html[data-suite-theme] {
  .\@info-table\:cell\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  ._2JV9SF6_ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .HNj2UG1r {
    background-color: var(--suite-theme-bg) !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@breadcrumbs\:selectedNavigationItem\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }
}
