html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: #fff;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21;
    color: #fff;
  }

  .\@list\:groupDivider\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit;
  }

  .\@list\:subContent\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb;
    }
  }

  ._2Dr5TVoA._28KclC-2,
  ._39tr5UTv {
    background-color: #e4f4fb;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit;
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: #fff;
    border-color: #e8e8e8;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: #009fdf;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c;
  }

  .\@pagination-buttons\:layout\@ {
    color: #000;
  }

  .\@pagination-buttons\:button\@ {
    border-bottom-color: transparent;
  }

  .\@pagination-buttons\:button\@:disabled {
    background-color: inherit;
  }

  .\@pagination-buttons\:button\@:focus {
    color: #009fdf;
  }

  .\@pagination-buttons\:button\@.\@pagination-buttons\:disabledButton\@ {
    background-color: inherit;
    color: #000;
  }

  .\@pagination-buttons\:activeButton\@ {
    border-bottom-color: #009fdf;
  }
}
