html[data-suite-theme] {
  .\@order-form\:warningBox\@ + .\@order-form\:warningBox\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@switch-buttons\:switchControl\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@switch-buttons\:switchControlInTransition\@ {
    background-color: transparent !important;
  }

  .\@switch-buttons\:option\@ + .\@switch-buttons\:option\@ {
    border-left-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@switch-buttons\:option\@[disabled] {
    background-color: transparent !important;
  }

  .\@switch-buttons\:activeOption\@ {
    color: #fff !important;
  }

  .\@switch-buttons\:activeOption\@:first-child {
    background-color: #00a658 !important;
  }

  .\@switch-buttons\:activeOption\@:last-child {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@switch-buttons\:option\@[disabled].\@switch-buttons\:activeOption\@ {
    background-color: #d4d4d4 !important;
    color: var(--suite-theme-color) !important;
  }

  .\@combination-order-form\:activeOrderActionOption\@:last-child {
    background-color: #e6605c !important;
  }

  .\@combination-order-form\:productSelectButton\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
    border-color: var(--suite-theme-bg-midlite) !important;
  }

  ._1ASjxRvu {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@product-details\:layout\@ {
    border-top-color: #d4d4d4 !important;
  }

  .\@product-details\:layout\@ + .\@product-details\:layout\@ {
    border-top: 0 !important;
  }

  .\@product-details\:pricesLine\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@order-confirmation\:documentsInfo\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@order-confirmation-fees\:feesHeader\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  .\@product-picker\:layout\@ {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14) !important;
  }

  .\@product-picker\:periodSelect\@ {
    color: var(--suite-theme-color) !important;
  }

  @media (min-width: 1024px) {
    .\@product-picker\:layout\@ {
      border-left-color: #d4d4d4 !important;
    }
  }
}
