html[data-suite-theme] {
  .\@order-form\:warningBox\@ + .\@order-form\:warningBox\@ {
    border-top-color: #e8e8e8 !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5 !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .\@switch-buttons\:switchControl\@ {
    background-color: #f3f4f5 !important;
  }

  .\@switch-buttons\:switchControlInTransition\@ {
    background-color: transparent !important;
  }

  .\@switch-buttons\:option\@ + .\@switch-buttons\:option\@ {
    border-left-color: #f3f4f5 !important;
  }

  .\@switch-buttons\:option\@[disabled] {
    background-color: transparent !important;
  }

  .\@switch-buttons\:activeOption\@ {
    color: #fff !important;
  }

  .\@switch-buttons\:activeOption\@:first-child {
    background-color: #00a658 !important;
  }

  .\@switch-buttons\:activeOption\@:last-child {
    background-color: #009fdf !important;
  }

  .\@switch-buttons\:option\@[disabled].\@switch-buttons\:activeOption\@ {
    background-color: #d4d4d4 !important;
    color: #000 !important;
  }

  .LxrALQ7-:last-child {
    background-color: #e6605c !important;
  }

  .kSPLeTvJ {
    background-color: #f3f4f5 !important;
    border-color: #f3f4f5 !important;
  }

  ._1ASjxRvu {
    background-color: #fff !important;
    border-color: #009fdf !important;
  }

  ._35GLVuG2 {
    border-top-color: #d4d4d4 !important;
  }

  ._35GLVuG2 + ._35GLVuG2 {
    border-top: 0 !important;
  }

  ._2fEWKGqL {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@order-confirmation\:documentsInfo\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@order-confirmation-fees\:feesHeader\@ {
    color: #000 !important;
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: #009fdf !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  ._3C0lad-l {
    background-color: #fff !important;
    box-shadow: -2px 0 4px -2px rgba(0, 0, 0, 0.14) !important;
  }

  ._1VHD57HG {
    color: #000 !important;
  }

  @media (min-width: 1024px) {
    ._3C0lad-l {
      border-left-color: #d4d4d4 !important;
    }
  }
}
