html[data-suite-theme] {
  .\@order-form\:warningBox\@ + .\@order-form\:warningBox\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@common-order-form\:productChangeButton\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  ._2EfoFDd6 .\@common-order-form\:fieldSelect\@ .\@common-order-form\:fieldSelectControlWithError\@ {
    border-color: #e6605c !important;
  }

  .\@common-order-form\:orderActionButton\@ {
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@common-order-form\:orderActionButton\@:not(:first-child) {
    border-left: 0 !important;
  }

  .\@common-order-form\:orderActionButton\@:focus {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@common-order-form\:orderActionButton\@[disabled] {
    color: #fff !important;
  }

  .u-OZX1IW {
    color: #00a658 !important;
  }

  ._2opx293R {
    color: #e6605c !important;
  }

  .u-OZX1IW[disabled] {
    background-color: #00a658 !important;
    border-color: #00a658 !important;
  }

  ._2opx293R[disabled] {
    background-color: #e6605c !important;
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@order-confirmation\:documentsInfo\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@order-confirmation-fees\:feesHeader\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@list\:groupDivider\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@alternative-order-selector\:optionsList\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: #d4d4d4 !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    color: var(--suite-theme-color) !important;
  }

  .\@alternative-order-selector\:optionItem\@:focus,
  .\@alternative-order-selector\:optionItem\@:hover {
    background-color: #e4f4fb !important;
  }

  .\@order-product-search\:emptyResultsMessage\@ {
    color: var(--suite-theme-color-secondary) !important;
  }
}
