html[data-suite-theme] {
  .\@account-summary\:secondaryValue\@ {
    background-color: hsla(0, 0%, 100%, 0.8) !important;
    color: var(--suite-theme-color) !important;
  }

  .\@account-summary\:sectionWarningIcon\@ {
    color: #fff !important;
  }
}
