html[data-suite-theme] {
  .\@checkbox\:thumb\@ {
    background-color: #f0f0f0 !important;
    border-color: #d4d4d4 !important;
  }

  .\@checkbox\:input\@:checked ~ .\@checkbox\:thumb\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@checkbox\:input\@[disabled]:checked ~ .\@checkbox\:thumb\@,
  .\@checkbox\:input\@[disabled] ~ .\@checkbox\:thumb\@ {
    background-color: #d4d4d4 !important;
    border-color: transparent !important;
  }

  .\@checkbox\:input\@:checked ~ .\@checkbox\:thumb\@:after {
    border-color: #fff !important;
    border-width: 0 2px 2px 0 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@checkbox\:thumb\@:hover {
      background-color: var(--suite-theme-bg-midlite) !important;
    }
    .\@checkbox\:input\@:focus ~ .\@checkbox\:thumb\@ {
      border-color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  .\@inbox-status-icon\:badge\@ {
    background-color: #e6605c !important;
    color: #fff !important;
  }

  .\@drawer\:layout\@ {
    background-color: var(--suite-theme-color-secondary) !important;
  }

  .JvAjbK_F {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.16) !important;
  }

  .\@drawer\:toolbar\@ {
    background-color: #181a21 !important;
    color: #ababab !important;
  }

  .\@drawer-navigation\:controlItem\@:before {
    background: #181a21 !important;
  }

  ._1VCqr8vi {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1VCqr8vi:after,
  ._2hnF2C5c:after {
    border-bottom-color: transparent !important;
    border-left-color: #fff !important;
    border-top-color: transparent !important;
  }

  ._2hnF2C5c:after {
    border-left-color: var(--suite-theme-color-secondary) !important;
  }

  ._1qKSuIJr {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._2qBKh7vt {
    background-color: #e6605c !important;
    color: #fff !important;
  }

  .\@avatar\:avatar\@ {
    background-color: var(--suite-theme-bg-lite)  !important;
    color: var(--suite-theme-color) !important;
  }

  .\@user-profile\:profileControlSubTitle\@ {
    color: #ababab !important;
  }

  .DiLpaovC {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .DiLpaovC:after {
    border-bottom-color: transparent !important;
    border-left-color: #fff !important;
    border-top-color: transparent !important;
  }
}
