html[data-suite-theme] {
  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  .\@input-with-clear-button\:inputWithClearButton\@.\@input-with-clear-button\:wrapper\@ {
    background: #fff !important;
  }

  .\@input-placeholder\:inputPlaceholder\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
    border-color: var(--suite-theme-border-color) !important;
    column-gap: 0 !important;
  }

  .\@input-placeholder\:inputPlaceholder\@:focus-within {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input-placeholder\:input\@ {
    background: inherit !important;
    border: none !important;
  }

  .\@input-interval\:input\@ {
    border: none !important;
  }

  .\@options-list\:optionsList\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: #d4d4d4 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@options-list\:activeOptionItem\@,
  .\@options-list\:optionItem\@:hover {
    background-color: #e4f4fb !important;
  }

  .\@base-range\:applyButton\@ {
    background: var(--suite-theme-color-accent-bg) !important;
    border: none !important;
    color: #fff !important;
  }

  ._3_708K76[disabled] {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._2dAiUx8g {
    color: #ababab !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@switch\:track\@ {
    background-color: #d4d4d4 !important;
  }

  .\@switch\:thumb\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:track\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:thumb\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@switch\:checkbox\@:focus ~ .\@switch\:thumb\@ {
      background-color: var(--suite-theme-bg) !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
    .\@switch\:checkbox\@:checked:focus ~ .\@switch\:thumb\@ {
      background-color: var(--suite-theme-color-accent-bg) !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
  }

  .\@filters\:readyFilter\@:after {
    background: #007bc2 !important;
  }

  ._1EWp8hdR {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@form-line-select-filter\:formLineIcon\@ {
    color: var(--suite-theme-color-secondary) !important;
  }
}
