html[data-suite-theme] {
  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@lists-form\:selectableListItem\@:hover,
  .\@lists-form\:activeListItem\@ {
    background-color: #e4f4fb !important;
  }

  .\@lists-form\:deleteButton\@[disabled] {
    background-color: transparent !important;
  }

  .\@lists-form\:deleteButton\@[disabled] .\@lists-form\:deleteButtonIcon\@ {
    color: #ababab !important;
  }

  .\@lists-form\:listItemButton\@ {
    background-color: #d4d4d4 !important;
  }

  .\@lists-form\:listItemButton\@ + .\@lists-form\:listItemButton\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._3SCwVTuP {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    ._2RVZeMtn:focus {
      background-color: #e4f4fb !important;
    }
  }
}
