html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@list\:groupDivider\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@lists-form\:selectableListItem\@:hover,
  .\@lists-form\:activeListItem\@ {
    background-color: #e4f4fb !important;
  }

  .\@lists-form\:deleteButton\@[disabled] {
    background-color: transparent !important;
  }

  .\@lists-form\:deleteButton\@[disabled] .\@lists-form\:deleteButtonIcon\@ {
    color: #ababab !important;
  }

  .\@lists-form\:listItemButton\@ {
    background-color: #d4d4d4 !important;
  }

  .\@lists-form\:listItemButton\@ + .\@lists-form\:listItemButton\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  .\@pagination-buttons\:layout\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@pagination-buttons\:button\@ {
    border-bottom-color: transparent !important;
  }

  .\@pagination-buttons\:button\@:disabled {
    background-color: inherit !important;
  }

  .\@pagination-buttons\:button\@:focus {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@pagination-buttons\:button\@.\@pagination-buttons\:disabledButton\@ {
    background-color: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  .\@pagination-buttons\:activeButton\@ {
    border-bottom-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@product-symbol-isin\:section\@ + .\@product-symbol-isin\:section\@ {
    color: var(--suite-theme-color-secondary) !important;
  }
}
