html[data-suite-theme] {
  ._8UmNn1vK {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .FTDOIjUm {
    color: #ffb300 !important;
  }

  .\@form\:rateInput\@ {
    background: transparent !important;
  }

  .\@form\:commentField\@ {
    border-color: #d4d4d4 !important;
  }

  .\@form\:formDescription\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
