html[data-suite-theme] {
  .\@select\:select\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@select\:controlField\@ {
    background-color: inherit !important;
    caret-color: transparent !important;
  }

  .\@select\:controlField\@:focus {
    outline: none !important;
  }

  .\@select\:controlFieldWithActiveSearch\@ {
    background-color: inherit !important;
    caret-color: auto !important;
  }

  .\@select\:dropdownIndicator\@,
  .\@select\:disabledSelect\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@select\:disabledSelect\@ .\@select\:dropdownIndicator\@ {
    color: #ababab !important;
  }

  .\@select\:controlField\@ + .\@select\:dropdownIndicator\@ {
    color: var(--suite-theme-color) !important;
  }

  ._2o-tQ7jU {
    background-color: var(--suite-theme-bg) !important;
    border-color: #d4d4d4 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@select\:optionItem\@:hover,
  .\@select\:hoveredOptionItem\@ {
    background-color: #e4f4fb !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@select\:select\@:focus-within {
      background-color: var(--suite-theme-bg) !important;
      border-color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  .\@multi-select\:checkbox\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@multi-select\:activeCheckbox\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  .\@multi-select\:initiallySelectedOption\@ + .\@multi-select\:multiSelectOptionItem\@:not(.\@multi-select\:initiallySelectedOption\@),
  .\@multi-select\:footerContainer\@ {
    border-top-color: #d4d4d4 !important;
  }

  .\@multi-select\:footerContainer\@ {
    background-color: var(--suite-theme-bg) !important;
  }
}
