html[data-suite-theme] {
  .\@alternative-order-selector\:optionsList\@ {
    background-color: #fff !important;
    border: 1px solid #d4d4d4 !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
    color: #000 !important;
  }

  .\@alternative-order-selector\:optionItem\@:focus,
  .\@alternative-order-selector\:optionItem\@:hover {
    background-color: #e4f4fb !important;
  }

  ._32AlLnUO {
    background-color: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  .\@full-header\:header\@ {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
  }

  .\@full-header\:commonOrderButtonLayout\@ {
    background-color: #009fdf !important;
    color: #fff !important;
  }

  /* TODO: fix this */
  /* .\@full-header\:commonOrderButtonLayout\@ .\@full-header\:alternativeOrdersSelector\@ {
  border-left-color: 0.5) !important;
} */

  @media (pointer: fine), all and (pointer: none) {
    .\@full-header\:alternativeOrdersSelector\@:hover {
      background-color: #007bc2 !important;
    }
  }
}
