html[data-suite-theme] {
  .\@infinitive\:progressBar\@ {
    background-color: #edeff1 !important;
  }

  .\@infinitive\:value\@ {
    background-color: #009fdf !important;
  }

  .\@list\:groupDivider\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: #e8e8e8 !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@pagination-buttons\:layout\@ {
    color: #000 !important;
  }

  .\@pagination-buttons\:button\@ {
    border-bottom-color: transparent !important;
  }

  .\@pagination-buttons\:button\@:disabled {
    background-color: inherit !important;
  }

  .\@pagination-buttons\:button\@:focus {
    color: #009fdf !important;
  }

  .\@pagination-buttons\:button\@.\@pagination-buttons\:disabledButton\@ {
    background-color: inherit !important;
    color: #000 !important;
  }

  .\@pagination-buttons\:activeButton\@ {
    border-bottom-color: #009fdf !important;
  }

  .\@product-symbol-isin\:section\@ + .\@product-symbol-isin\:section\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
