html[data-suite-theme] {
  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5 !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .HNj2UG1r {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@breadcrumbs\:selectedNavigationItem\@ {
    color: #000 !important;
  }
}
