html[data-suite-theme] {
  .HNj2UG1r {
    background-color: #fff;
    border-bottom-color: #e8e8e8;
    color: rgba(0, 0, 0, 0.55);
  }

  .\@breadcrumbs\:selectedNavigationItem\@ {
    color: #000;
  }

  .-QHHeCqU {
    color: rgba(0, 0, 0, 0.55);
  }
}
