html[data-suite-theme] {
  .HNj2UG1r {
    background-color: var(--suite-theme-bg) !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@breadcrumbs\:selectedNavigationItem\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@joint-account-information\:hintLine\@ {
    color: var(--suite-theme-color-secondary) !important;
  }
}
