html[data-suite-theme] {
  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: #fff;
    border-color: #e8e8e8;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: #009fdf;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit;
  }

  ._3dpUyUgG {
    background-color: #fff;
    color: #007bc2;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit;
    }
  }

  .\@switch\:track\@ {
    background-color: #d4d4d4;
  }

  .\@switch\:thumb\@ {
    background-color: #f3f4f5;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:track\@ {
    background-color: #009fdf;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:thumb\@ {
    background-color: #009fdf;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@switch\:checkbox\@:focus ~ .\@switch\:thumb\@ {
      background-color: #fff;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
    .\@switch\:checkbox\@:checked:focus ~ .\@switch\:thumb\@ {
      background-color: #009fdf;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3);
    }
  }

  ._1EWp8hdR {
    border-bottom-color: #e8e8e8;
  }

  .\@form-line-select-filter\:formLineIcon\@ {
    color: rgba(0, 0, 0, 0.55);
  }
}
