html[data-suite-theme] {
  .\@news-article-item\:dateTime\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@news-article-item\:subCategoryLabelWrapper\@ {
    color: #000 !important;
  }

  .Ww9dtK-j.\@news-article-page\:embeddedCard\@ {
    border-top-color: #e8e8e8 !important;
  }

  .\@news-article-page\:articleCategoryTitle\@ {
    color: #ababab !important;
  }

  .\@news-article-page\:articleFooter\@ {
    color: #ababab !important;
  }
}
