html[data-suite-theme] {
  .\@news-article-item\:dateTime\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@news-article-item\:subCategoryLabelWrapper\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@news-list\:newsListItem\@,
  .\@news-list\:selectedNewsListItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@news-list\:selectedNewsListItem\@ {
    background-color: #e4f4fb !important;
  }

  .\@news-list\:newsListItem\@:last-of-type {
    border-bottom: none !important;
  }

  .\@news-list\:newsListItemDate\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  .Ww9dtK-j.\@news-article-page\:embeddedCard\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@news-article-page\:articleCategoryTitle\@ {
    color: #ababab !important;
  }

  .\@news-article-page\:articleFooter\@ {
    color: #ababab !important;
  }

  .\@accordion-item\:item\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@related-stocks\:productName\@:hover {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }
}
