html[data-suite-theme] {
  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  .\@compact-view\:secondaryContent\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:agendaListItem\@ .\@compact-view\:valueSubContent\@ {
    color: #000 !important;
  }

  .\@compact-view\:companyName\@ {
    word-break: break-word !important;
  }

  ._2MnhUNur {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3nV1RBSy.\@compact-view\:agendaCard\@ {
    border-top: 0 !important;
  }

  ._3fNf038_ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:tableRow\@ {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
  }

  .\@compact-view\:exchanges\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:exchangesOverlay\@ {
    background-color: #fff !important;
  }

  .\@compact-view\:moreItemsButton\@ {
    background-color: #fff !important;
  }

  .\@compact-view\:dateTimeDivider\@ {
    color: #000 !important;
  }
}
