html[data-suite-theme] {
  .\@agenda\:agendaLayout\@ ._3n28doiM.\@agenda\:agendaTableCard\@ {
    border-top: 0 !important;
  }

  .\@agenda\:ipoHeadline\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@agenda\:toggleIcon\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@agenda\:disclaimer\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@agenda\:toggleIcon\@:hover {
      color: #007bc2 !important;
    }
  }
}
