html[data-suite-theme] {
  .\@full-view\:agendaHeaderCompactView\@ .SRKeLvAF {
    background-color: #fafafa !important;
  }

  ._1UIli3mH:first-child .SRKeLvAF {
    border-top: 0 !important;
  }

  .\@full-view\:groupedCellDivider\@ {
    background-color: var(--suite-theme-bg-lite)  !important;
  }

  ._1UIli3mH:not(.\@full-view\:selectedRow\@):nth-child(odd) ._3jr4aOva:not(.SRKeLvAF),
  ._1UIli3mH:not(.\@full-view\:selectedRow\@):nth-child(odd) .ZSFu57um:not(.SRKeLvAF) {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@full-view\:disabledCompanyNameCell\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
    object-fit: cover !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  ._3N8OmG8V {
    background-color: #333 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@product-details-hint\:icon\@:hover {
      color: var(--suite-theme-color-accent-bg) !important;
    }
  }

  .\@agenda-holidays-full-view\:countryCell\@ {
    border-right-color: var(--suite-theme-border-color) !important;
  }

  .\@agenda-holidays-full-view\:exchangesDisclaimer\@ {
    background-color: var(--suite-theme-bg) !important;
  }
}
