html[data-suite-theme] {
  .\@news-categories-menu\:selectBase\@.\@news-categories-menu\:dropdown\@ {
    background-color: #fff !important;
  }

  .\@news-categories-menu\:selectBase\@.\@news-categories-menu\:dropdown\@.\@news-categories-menu\:activeDropdownItem\@ {
    background-color: #d4d4d4 !important;
    color: #000 !important;
  }

  .\@news-categories-menu\:groupSelectButton\@ {
    background-color: #fff !important;
    color: #000 !important;
  }

  .\@news-categories-menu\:groupSelectButton\@.\@news-categories-menu\:frontPageButton\@ {
    color: #000 !important;
  }

  .\@news-categories-menu\:groupSelectButton\@.\@news-categories-menu\:groupActiveSelectButton\@:disabled {
    background-color: #d4d4d4 !important;
    border-color: #009fdf !important;
    color: #000 !important;
  }

  .iXZp95NS {
    background-color: #f7f8f9 !important;
    border-bottom-color: #edeff1 !important;
    border-top-color: #edeff1 !important;
  }

  ._1gwuPi-l.\@news-categories-menu\:activeCategoryItem\@ .\@news-categories-menu\:checkIcon\@ {
    color: #009fdf !important;
  }
}
