html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: #fff !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5 !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .\@list\:groupDivider\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: #e8e8e8 !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@quick-search\:inputFieldLayout\@ {
    background: #f3f4f5 !important;
    border-color: #f3f4f5 !important;
  }

  .\@quick-search\:layout\@ .\@quick-search\:inputFieldLayout\@ .\@quick-search\:inputField\@ {
    background: inherit !important;
    border-color: transparent !important;
  }

  .\@quick-search\:emptyResultsMessage\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@quick-search\:inputFieldLayout\@:focus-within {
      background: #f3f4f5 !important;
      border-color: #f3f4f5 !important;
    }
  }

  .\@markets\:quickSearchButtonLayout\@:before {
    background-color: #fff !important;
  }

  .\@markets\:quickSearchButtonText\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@markets\:marketLosersListItem\@ {
    background-color: #f7f8f9 !important;
  }

  ._1Bq2L28h .\@markets\:marketLosersListItem\@ {
    background-color: inherit !important;
  }

  ._1Bq2L28h .\@markets\:marketWinnersListItem\@:last-child {
    border-bottom-color: #d4d4d4 !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: #009fdf !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: #009fdf !important;
  }
}
