html[data-suite-theme] {
  .\@promotion\:closeButton\@ {
    color: #ababab !important;
  }

  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
    object-fit: cover !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  .\@products-carousel\:navigationButton\@ {
    border-color: #d4d4d4 !important;
  }

  .\@products-carousel\:navigationButton\@[disabled] {
    background-color: transparent !important;
    color: #ababab !important;
  }

  .\@products-carousel\:listItem\@ {
    border-left-color: #d4d4d4 !important;
  }

  .\@products-carousel\:listItem\@:first-child {
    border-left: 0 !important;
  }

  .\@products-carousel\:listLayoutWithNavigationButtons\@ .\@products-carousel\:listItem\@ {
    background-color: #f7f8f9 !important;
    border-bottom-color: #d4d4d4 !important;
  }

  .\@products-carousel\:listLayoutWithNavigationButtons\@ .\@products-carousel\:selectedListItem\@ {
    background-color: #fff !important;
    border-bottom-color: #fff !important;
    border-top-color: #d4d4d4 !important;
  }

  .\@latest-videos\:clipItemImgLabel\@ {
    background-color: #000 !important;
    color: #fff !important;
  }

  .\@latest-videos\:clipItemSubTitle\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@latest-videos\:clipModalButtons\@ {
    border-top-color: #e8e8e8 !important;
  }

  ._1E31BIi1[disabled] {
    background-color: transparent !important;
    color: #ababab !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@latest-videos\:clipItem\@:focus,
    .\@latest-videos\:promoClipInfo\@:focus {
      background-color: #f7f8f9 !important;
    }
  }

  .\@video-player\:player\@ {
    background-color: #000 !important;
  }
}
