html[data-suite-theme] {
  .\@agenda-card\:companyName\@ {
    word-break: break-word !important;
  }

  .\@agenda-card\:agendaPrimaryValue\@ {
    color: #000 !important;
  }

  .\@agenda-card\:agendaValue\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
