html[data-suite-theme] {
  .\@news-article-item\:dateTime\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@news-article-item\:subCategoryLabelWrapper\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@news-list\:newsListItem\@,
  .\@news-list\:selectedNewsListItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@news-list\:selectedNewsListItem\@ {
    background-color: #e4f4fb !important;
  }

  .\@news-list\:newsListItem\@:last-of-type {
    border-bottom: none !important;
  }

  .\@news-list\:newsListItemDate\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }
}
