html[data-suite-theme] {
  .\@news-article-item\:dateTime\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@news-article-item\:subCategoryLabelWrapper\@ {
    color: #000;
  }

  .Ww9dtK-j.\@news-article-page\:embeddedCard\@ {
    border-top-color: #e8e8e8;
  }

  .\@news-article-page\:articleCategoryTitle\@ {
    color: #ababab;
  }

  .\@news-article-page\:articleFooter\@ {
    color: #ababab;
  }
}
