html[data-suite-theme] {
  .\@news-article-item\:dateTime\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@news-article-item\:subCategoryLabelWrapper\@ {
    color: var(--suite-theme-color) !important;
  }

  .Ww9dtK-j.\@news-article-page\:embeddedCard\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@news-article-page\:articleCategoryTitle\@ {
    color: #ababab !important;
  }

  .\@news-article-page\:articleFooter\@ {
    color: #ababab !important;
  }
}
