html[data-suite-theme] {
  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  .\@compact-view\:secondaryContent\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:agendaListItem\@ .\@compact-view\:valueSubContent\@ {
    color: #000 !important;
  }

  ._2MnhUNur {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  ._3nV1RBSy.\@compact-view\:agendaCard\@ {
    border-top: 0 !important;
  }

  ._3fNf038_ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:tableRow\@ {
    background-color: #fff !important;
    border-bottom-color: #e8e8e8 !important;
  }

  .\@compact-view\:exchanges\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@compact-view\:exchangesOverlay\@ {
    background-color: #fff !important;
  }

  .\@compact-view\:moreItemsButton\@ {
    background-color: #fff !important;
  }

  .\@compact-view\:dateTimeDivider\@ {
    color: #000 !important;
  }

  .\@full-view\:agendaHeaderCompactView\@ .SRKeLvAF {
    background-color: #fafafa !important;
  }

  .\@full-view\:groupedCellDivider\@ {
    background-color: #edeff1 !important;
  }

  ._1UIli3mH:not(.\@full-view\:selectedRow\@):nth-child(odd) ._3jr4aOva:not(.SRKeLvAF),
  ._1UIli3mH:not(.\@full-view\:selectedRow\@):nth-child(odd) .ZSFu57um:not(.SRKeLvAF) {
    background-color: #fff !important;
  }

  .\@full-view\:disabledCompanyNameCell\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
