html[data-suite-theme] {
  .\@agenda\:ipoHeadline\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@agenda\:toggleIcon\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@agenda\:disclaimer\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@agenda\:toggleIcon\@:hover {
      color: #007bc2 !important;
    }
  }
}
