html[data-suite-theme] {
  .\@country-flag\:flag\@ {
    border-color: #d4d4d4 !important;
  }

  .\@country-flag\:flag\@.\@country-flag\:noBorder\@ {
    border-color: transparent !important;
  }

  .\@compact-view\:secondaryContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@compact-view\:agendaListItem\@ .\@compact-view\:valueSubContent\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@compact-view\:companyName\@ {
    word-break: break-word !important;
  }

  ._2MnhUNur {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3fNf038_ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@compact-view\:tableRow\@ {
    background-color: var(--suite-theme-bg) !important;
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@compact-view\:exchanges\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@compact-view\:exchangesOverlay\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@compact-view\:moreItemsButton\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@compact-view\:dateTimeDivider\@ {
    color: var(--suite-theme-color) !important;
  }
}
