html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@list\:groupDivider\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@portfolio-depreciation\:secondaryValueText\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@compact-view\:valuesTitle\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@input\:inputFieldLayout\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: var(--suite-theme-bg) !important;
    color: #007bc2 !important;
  }

  .\@datepicker\:inputWithIcon\@:focus + .\@datepicker\:inputIcon\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@datepicker\:popup\@ {
    background-color: var(--suite-theme-bg) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@datepicker\:selectedItem\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  .\@datepicker\:item\@[disabled],
  .\@datepicker\:moreButton\@[disabled],
  .\@datepicker\:navButton\@[disabled] {
    background-color: transparent !important;
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@datepicker\:item\@:not([disabled]):not(.\@datepicker\:selectedItem\@):hover,
    .\@datepicker\:moreButton\@:not([disabled]):hover {
      background-color: var(--suite-theme-bg-midlite) !important;
    }
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: var(--suite-theme-bg) !important;
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  .IIr0vEtl {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@pagination-buttons\:layout\@ {
    color: var(--suite-theme-color) !important;
  }

  .\@pagination-buttons\:button\@ {
    border-bottom-color: transparent !important;
  }

  .\@pagination-buttons\:button\@:disabled {
    background-color: inherit !important;
  }

  .\@pagination-buttons\:button\@:focus {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@pagination-buttons\:button\@.\@pagination-buttons\:disabledButton\@ {
    background-color: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  .\@pagination-buttons\:activeButton\@ {
    border-bottom-color: var(--suite-theme-color-accent-bg) !important;
  }
}
