html[data-suite-theme] {
  .\@accordion-item\:item\@ {
    border-bottom-color: #e8e8e8 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@card-header-hint-button\:button\@:hover .\@card-header-hint-button\:icon\@ {
      color: #009fdf !important;
    }
  }

  ._2h2YaWrE {
    background-color: #fafafa !important;
  }

  ._1xsdEprT:last-child ._1EP--32- {
    border-bottom: none !important;
  }

  .\@ratios-table\:bottomBorderedTable\@ ._1xsdEprT:last-child ._1EP--32- {
    border-bottom-color: #e8e8e8 !important;
  }

  ._1xsdEprT:not(.\@ratios-table\:selectedRow\@):nth-child(odd) ._1EP--32-:not(._2h2YaWrE) {
    background-color: #fff !important;
  }

  ._2NuD6_HF:not(.\@price-and-volume-card\:selectedRow\@):nth-child(odd) ._1jrJLgoY:not(.DSQLkZye),
  ._2NuD6_HF:not(.\@price-and-volume-card\:selectedRow\@):nth-child(odd) ._18c12Ubd:not(.DSQLkZye) {
    background-color: #fff !important;
  }

  ._3N8OmG8V {
    background-color: #333 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@product-details-hint\:icon\@:hover {
      color: #009fdf !important;
    }
  }

  ._1m2a3tjx ._2h3-lKdW {
    background-color: initial !important;
  }

  .\@price-range-table\:priceRangeHeader\@ {
    border-top-color: #e8e8e8 !important;
  }
}
