html[data-suite-theme] {
  .\@business-and-financial-summary-card\:lastModified\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@product-company-information\:companyProfileLastModified\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@product-company-information\:summaryMoreButton\@:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%) !important;
  }

  .\@product-company-information\:lineTopSeparator\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@company-information-card\:numbersSection\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@no-data-message\:noDataToDisplay\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@issues-card\:issue\@ + .\@issues-card\:issue\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@key-executives-card\:row\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@key-executives-card\:row\@:nth-child(odd) {
    background: #f7f8f9 !important;
  }

  .\@key-executives-card\:row\@:nth-child(2n) {
    background: #fff !important;
  }

  .\@key-executives-card\:headerRow\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@key-executives-card\:headerCell\@ {
    background: #fff !important;
    color: var(--suite-theme-color-secondary) !important;
  }
}
