html[data-suite-theme] {
  .\@product-tour\:salutationModalContent\@ b {
    color: #007bc2 !important;
  }

  .\@product-tour\:popupArrow\@ {
    border-bottom-color: #fff !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
  }

  .\@product-tour\:header\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  ._3XxpCQ5H {
    background-color: #d4d4d4 !important;
  }

  ._3_8LzFwY {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@product-tour\:focusedElement\@ {
    box-shadow: 0 0 8px 4px var(--suite-theme-color-accent-bg) !important;
  }

  [href].\@product-tour\:focusedElement\@ {
    color: #fff !important;
  }
}
