html[data-suite-theme] {
  .\@bar-chart\:chartText\@ {
    fill: rgba(0, 0, 0, 0.55);
  }

  .\@bar-chart\:chartGridLine\@ {
    stroke: #e8e8e8;
  }

  .\@bar-chart\:chartTextNoData\@ {
    fill: rgba(0, 0, 0, 0.55);
  }

  .\@chart-legend\:chartLegendItem\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@no-data-message\:noDataToDisplay\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@product-company-financials\:statementPeriodItem\@ {
    color: #ababab;
  }
}
