html[data-suite-theme] {
  .\@list\:groupDivider\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }
}
