html[data-suite-theme] {
  .\@no-data-message\:noDataToDisplay\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@bar-chart\:chartText\@ {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  .\@bar-chart\:chartGridLine\@ {
    stroke: #e8e8e8 !important;
  }

  .\@bar-chart\:chartTextNoData\@ {
    fill: rgba(0, 0, 0, 0.55) !important;
  }

  .\@chart-legend\:chartLegendItem\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@statements-period-navigation\:statementsPeriodNavigation\@ {
    background: #000 !important;
  }

  .\@statements-period-navigation\:statementsPeriodButton\@ {
    color: #ababab !important;
  }

  .\@statements-period-navigation\:statementsPeriodButton\@.\@statements-period-navigation\:selectedStatementsPeriodButton\@ {
    color: #fff !important;
  }

  .\@statements-period-navigation\:selectedStatementsPeriodButton\@:after {
    border-color: transparent transparent #fff !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@statements-period-navigation\:statementsPeriodNavigation\@ .\@statements-period-navigation\:statementsPeriodButton\@:focus,
    .\@statements-period-navigation\:statementsPeriodNavigation\@ .\@statements-period-navigation\:statementsPeriodButton\@:hover {
      color: #ababab !important;
    }
  }

  @media (pointer: fine), all and (pointer: none) {
    ._3oGscGgD ._3FghPXuE ._2Hheu-u7:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE ._3ByEduw-:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE:hover ._2Hheu-u7:not(:first-child):hover,
    ._3oGscGgD ._3FghPXuE:hover ._3ByEduw-:not(:first-child):hover {
      background-color: #bbe2f5 !important;
    }
    ._3FghPXuE:not(.\@table-card\:selectedRow\@):nth-child(odd):hover ._3ByEduw-:not(._2Hheu-u7) {
      background-color: #e4f4fb !important;
    }
    ._3oGscGgD
      ._3FghPXuE:nth-child(odd):hover
      ._3ByEduw-:not(:first-child):hover {
      background-color: #bbe2f5 !important;
    }
    ._2Hheu-u7:not(:first-child):hover:after,
    ._3ByEduw-:not(:first-child):hover:after {
      background-color: #e4f4fb !important;
      mix-blend-mode: darken !important;
    }
  }

  .\@product-financials\:disclaimer\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }
}
