html[data-suite-theme] {
  .\@product-orders-book\:bodyCell\@,
  .\@product-orders-book\:headerCell\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@product-orders-book\:collapsedLayoutHeaderCell\@ {
    background-color: #fafafa !important;
  }

  .\@product-orders-book\:ordersNumber\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@product-orders-book\:bidVolume\@ {
    color: #e6605c !important;
  }

  .\@product-orders-book\:askVolume\@ {
    color: #00a658 !important;
  }

  .\@product-orders-book\:bidVolumeBar\@ {
    background-color: #e6605c !important;
  }

  .\@product-orders-book\:askVolumeBar\@ {
    background-color: #00a658 !important;
  }
}
