html[data-suite-theme] {
  .\@bar-chart\:chartText\@ {
    fill: var(--suite-theme-color-secondary) !important;
  }

  .\@bar-chart\:chartGridLine\@ {
    stroke: var(--suite-theme-border-color) !important;
  }

  .\@bar-chart\:chartTextNoData\@ {
    fill: var(--suite-theme-color-secondary) !important;
  }

  .\@chart-legend\:chartLegendItem\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@no-data-message\:noDataToDisplay\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@product-company-financials\:statementPeriodItem\@ {
    color: #ababab !important;
  }
}
