html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: #fff !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  ._2snNLmel {
    background: #fff !important;
  }

  .\@product-details\:stickyHeader\@ {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .HYW76b34 {
    background: #fff !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
  }

  .\@product-details-header\:header\@ {
    background-color: #fff !important;
  }

  .\@product-details-header\:breadcrumbs\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@product-details-header\:breadcrumbsProductBrief\@,
  .\@product-details-header\:breadcrumbsBackButton\@ {
    color: #000 !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: #009fdf !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: #009fdf !important;
  }
}
