html[data-suite-theme] {
  .\@note-textarea\:wrapper\@ {
    outline-color: var(--suite-theme-border-color) !important;
  }

  .\@note-textarea\:wrapper\@:focus-within {
    outline-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@note-textarea\:textarea\@ {
    background: transparent !important;
  }

  .\@note-textarea\:fakeText\@ {
    color: transparent !important;
  }

  .\@note-textarea\:fakeTextErrorPart\@ {
    background-color: #e6605c !important;
  }

  .\@note-textarea\:counterError\@ {
    color: #e6605c !important;
  }

  .\@button\:button\@:disabled {
    background: inherit !important;
    color: var(--suite-theme-color) !important;
  }

  .\@button\:button\@:hover {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@button\:button\@:focus {
    border-color: var(--suite-theme-color-accent-bg) !important;
    color: var(--suite-theme-color-accent-bg) !important;
    outline: none !important;
  }

  .\@button\:primaryButton\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  .\@button\:primaryButton\@:hover {
    background-color: #007bc2 !important;
  }

  .\@button\:primaryButton\@:focus {
    background-color: #e4f4fb !important;
    color: #007bc2 !important;
  }

  .\@product-notes\:productNote\@:focus {
    outline-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@product-notes\:noteSection\@ {
    background-color: var(--suite-theme-bg-midlite) !important;
  }

  .\@product-notes\:timeStamp\@ {
    color: #ababab !important;
  }

  .\@product-notes\:serviceMessageWarning\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@product-notes\:serviceMessageError\@ {
    color: #e6605c !important;
  }
}
