html[data-suite-theme] {
  .\@bar-chart\:chartText\@ {
    fill: var(--suite-theme-color-secondary) !important;
  }

  .\@bar-chart\:chartGridLine\@ {
    stroke: var(--suite-theme-border-color) !important;
  }

  .\@bar-chart\:chartTextNoData\@ {
    fill: var(--suite-theme-color-secondary) !important;
  }

  .\@chart-legend\:chartLegendItem\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@no-data-message\:noDataToDisplay\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@analyst-rating\:analystRatingContainer\@ {
    background-color: #fafafa !important;
    border-color: #d4d4d4 !important;
  }

  .\@analyst-rating\:analystRatingScale\@ {
    background: linear-gradient(90deg, #00a658, #d4d4d4 50%, #e6605c) !important;
  }

  .\@analyst-rating\:axisLabel\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@analyst-rating\:currentValuePointer\@ {
    color: #fff !important;
  }

  .\@analyst-rating\:currentValuePointer\@,
  .\@analyst-rating\:currentValuePointer\@:after {
    background-color: var(--suite-theme-color) !important;
  }
}
