html[data-suite-theme] {
  .\@product-company-information\:companyProfileLastModified\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@product-company-information\:summaryMoreButton\@:after {
    background: linear-gradient(0deg, #fff 0, hsla(0, 0%, 100%, 0) 30%) !important;
  }

  .\@product-company-information\:lineTopSeparator\@ {
    border-top-color: var(--suite-theme-border-color) !important;
  }
}
