html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@start-page\:card\@ {
    background: #fff !important;
  }

  .\@start-page\:compactCardsGrid\@ .\@start-page\:card\@:not(.\@start-page\:accentCard\@):after {
    border-top-color: var(--suite-theme-border-color) !important;
  }

  .\@start-page\:cardDescription\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@start-page\:accentCard\@ {
    background-color: var(--suite-theme-color-accent-bg) !important;
    color: #fff !important;
  }

  .\@start-page\:fullCardsGrid\@ .\@start-page\:card\@:not(.\@start-page\:accentCard\@) {
    border-color: var(--suite-theme-border-color) !important;
  }

  .\@start-page\:accentClientRole\@ {
    color: #007bc2 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@start-page\:fullCardsGrid\@ .\@start-page\:card\@:hover {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16) !important;
    }
  }
}
