html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: #fff;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab;
  }

  ._1JPj7mYU {
    background-color: #fff;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8;
  }

  ._3sp9rzcO {
    color: #000;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: #009fdf;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: #009fdf;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21;
    color: #fff;
  }

  .\@list\:groupDivider\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: #e8e8e8;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit;
  }

  .\@list\:subContent\@ {
    color: rgba(0, 0, 0, 0.55);
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb;
    }
  }

  .\@reports\:itemDate\@ {
    color: rgba(0, 0, 0, 0.55);
  }
}
