html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: var(--suite-theme-bg) !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: var(--suite-theme-bg) !important;
  }

  ._1JPj7mYU:after {
    background-color: var(--suite-theme-border-color) !important;
  }

  ._3sp9rzcO {
    color: var(--suite-theme-color) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: var(--suite-theme-color-accent-bg) !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@list\:groupDivider\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: var(--suite-theme-border-color) !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: var(--suite-theme-color-secondary) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@reports\:itemDate\@ {
    color: var(--suite-theme-color-secondary) !important;
  }
}
