html[data-suite-theme] {
  .\@alerts\:alertBackdrop\@ {
    background-color: #fff !important;
  }

  .\@alerts\:closeButton\@ {
    color: #ababab !important;
  }

  ._1JPj7mYU {
    background-color: #fff !important;
  }

  ._1JPj7mYU:after {
    background-color: #e8e8e8 !important;
  }

  ._3sp9rzcO {
    color: #000 !important;
  }

  .\@sub-navigation\:activeNavigationItem\@ {
    color: #009fdf !important;
  }

  .\@sub-navigation\:activeNavigationItem\@:after {
    background-color: #009fdf !important;
  }

  .\@opened-tasks-alert\:alert\@ {
    background-color: #181a21 !important;
    color: #fff !important;
  }

  .\@list\:groupDivider\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  .\@list\:item\@,
  .\@list\:underlinedItem\@ {
    border-bottom-color: #e8e8e8 !important;
  }

  .\@list\:item\@:not(.\@list\:underlinedItem\@):last-child {
    border-bottom-color: transparent !important;
  }

  .\@list\:selectedItem\@ {
    background-color: #f7f8f9 !important;
  }

  .\@list\:list\@ .\@list\:selectedItem\@:after,
  .\@list\:list\@ .\@list\:hoverableItem\@:after {
    background-color: inherit !important;
  }

  .\@list\:subContent\@ {
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@list\:hoverableItem\@:hover,
    .\@list\:item\@:focus {
      background-color: #e4f4fb !important;
    }
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: #009fdf !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }

  .\@buttons-group\:buttonsGroup\@ {
    background-color: #f3f4f5 !important;
  }

  .\@buttons-group\:buttonsGroupItem\@ {
    border-left-color: #e8e8e8 !important;
  }

  .\@buttons-group\:buttonsGroupItem\@:first-child {
    border-left: 0 !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@buttons-group\:buttonsGroupItem\@:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5 !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .\@datepicker\:inputWithIcon\@:focus + .\@datepicker\:inputIcon\@ {
    color: #009fdf !important;
  }

  .\@datepicker\:popup\@ {
    background-color: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@datepicker\:selectedItem\@ {
    background-color: #009fdf !important;
    color: #fff !important;
  }

  .\@datepicker\:item\@[disabled],
  .\@datepicker\:moreButton\@[disabled],
  .\@datepicker\:navButton\@[disabled] {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.55) !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@datepicker\:item\@:not([disabled]):not(.\@datepicker\:selectedItem\@):hover,
    .\@datepicker\:moreButton\@:not([disabled]):hover {
      background-color: #f3f4f5 !important;
    }
  }

  .IIr0vEtl {
    border-bottom-color: #e8e8e8 !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@switch\:track\@ {
    background-color: #d4d4d4 !important;
  }

  .\@switch\:thumb\@ {
    background-color: #f3f4f5 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:track\@ {
    background-color: #009fdf !important;
  }

  .\@switch\:checkbox\@:checked ~ .\@switch\:thumb\@ {
    background-color: #009fdf !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@switch\:checkbox\@:focus ~ .\@switch\:thumb\@ {
      background-color: #fff !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
    .\@switch\:checkbox\@:checked:focus ~ .\@switch\:thumb\@ {
      background-color: #009fdf !important;
      box-shadow: 0 0 0 8px hsla(0, 0%, 83.1%, 0.3) !important;
    }
  }

  .\@pagination-buttons\:layout\@ {
    color: #000 !important;
  }

  .\@pagination-buttons\:button\@ {
    border-bottom-color: transparent !important;
  }

  .\@pagination-buttons\:button\@:disabled {
    background-color: inherit !important;
  }

  .\@pagination-buttons\:button\@:focus {
    color: #009fdf !important;
  }

  .\@pagination-buttons\:button\@.\@pagination-buttons\:disabledButton\@ {
    background-color: inherit !important;
    color: #000 !important;
  }

  .\@pagination-buttons\:activeButton\@ {
    border-bottom-color: #009fdf !important;
  }
}
