html[data-suite-theme] {
  .\@input\:inputFieldLayout\@ {
    background-color: #f3f4f5 !important;
  }

  .\@input\:inputFieldLayout\@:focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    background-color: #fff !important;
  }

  .\@input\:inputFieldLayout\@:not(.\@input\:invalidInputFieldLayout\@):focus-within,
  .\@input\:focusedInputFieldLayout\@ {
    border-color: #009fdf !important;
  }

  .\@input\:invalidInputFieldLayout\@ {
    border-color: #e6605c !important;
  }

  .\@input\:inputFieldControl\@ {
    background-color: inherit !important;
  }

  ._3dpUyUgG {
    background-color: #fff !important;
    color: #007bc2 !important;
  }

  .\@search\:inputFieldLayout\@ .\@search\:inputField\@ {
    background-color: inherit !important;
  }

  @media (pointer: fine), all and (pointer: none) {
    .\@search\:inputFieldLayout\@ .\@search\:inputField\@:focus {
      background-color: inherit !important;
    }
  }

  .\@filters\:collapsedFiltersSectionButton\@ {
    background-color: transparent !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@ {
    background-color: #fff !important;
    border-color: #e8e8e8 !important;
  }

  .\@filters\:filtersSection\@ .\@filters\:outlinedControl\@:focus-within {
    border-color: #009fdf !important;
  }

  .\@filters\:activeFiltersButtonIcon\@ {
    color: #e6605c !important;
  }
}
