// Any unchanged properties are commented for now. Maybe remove them later.

html[data-suite-theme] {
  .\@header\:appLogo\@ {
    filter: var(--suite-theme-login-logo-filter);
  }

  ._2b904SBi {
    color: var(--suite-theme-color);
  }

  ._2yZHs4iT {
    color: var(--suite-theme-color);
  }

  ._33YMireY {
    color: var(--suite-theme-color);
  }

  ._3yWsNwyD {
    color: var(--suite-theme-color);
  }

  // ._3EP9ApGu {
  //   color: #2ecc71;
  // }

  // ._3bcExoP_ {
  //   color: #e5231f;
  // }

  body .spinner {
    color: var(--suite-theme-color-accent-bg);
  }

  body {
    background-color: var(--suite-theme-bg);
    color: var(--suite-theme-color);
  }

  .V369L4Lq,
  a {
    color: var(--suite-theme-color-accent-bg);
  }

  // input::-ms-value,
  // select::-ms-value,
  // textarea::-ms-value {
  //   background-color: inherit;
  // }

  // input:-webkit-autofill {
  //   background-color: transparent !important;
  // }

  // button {
  //   background-color: transparent;
  // }

  // .\@icon\:iconShape\@ {
  //   fill: currentColor;
  // }

  // .\@modal\:overlay\@ {
  //   background-color: rgba(0, 23, 34, 0.6);
  // }

  .\@modal\:modal\@ {
    background-color: var(--suite-theme-bg);
  }

  // .\@modal\:modalTitle\@ {
  //   color: #000;
  // }

  // .\@modal\:modalTitleError\@ {
  //   color: #e5231f;
  // }

  .\@modal\:modalIconWrapper\@ {
    background-color: var(--suite-theme-color-accent-bg);
    color: #fff;
  }

  // .\@modal\:modalIconWrapperError\@ {
  //   background-color: #e5231f;
  // }

  // .\@modal\:modalIconWrapperWarning\@ {
  //   background-color: #f89406;
  // }

  // .\@modal\:modalIcon\@ {
  //   color: #fff;
  // }

  .\@modal\:modalContent\@ {
    color: var(--suite-theme-color);
  }

  .\@modal\:modalActionsItem\@ {
    background: none;
    border-top-color: var(--suite-theme-border-color);
    color: var(--suite-theme-color-accent-bg);
  }

  .\@modal\:modalActionsItem\@:nth-child(3n-1) {
    border-left-color: var(--suite-theme-border-color);
  }

  .\@header\:layout\@ {
    border-bottom-color: var(--suite-theme-border-color);
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 500px) {
    .\@header\:appLogoSeparator\@ {
      background-color: var(--suite-theme-color);
    }
  }

  .\@carousel\:sliderNavigationItem\@ {
    background-color: var(--suite-theme-border-color);
  }

  .\@carousel\:activeSliderNavigationItem\@ {
    background-color: var(--suite-theme-color-accent-bg);
  }

  .\@button\:button\@ {
    background-color: var(--suite-theme-color-accent-bg);
    color: var(--suite-theme-color-accent-fg);
  }

  // .\@button\:inactiveButton\@ {
  //   background-color: #9aa9b7;
  //   color: #fff;
  // }

  .\@button\:textButton\@ {
    // background-color: transparent;
    color: var(--suite-theme-color-accent-bg);
  }

  .\@onboarding\:button\@:last-child {
    background-color: var(--suite-theme-bg);
    color: var(--suite-theme-color-accent-bg);
  }

  .\@page-notification\:infoNotification\@ {
    background-color: var(--suite-theme-color-accent-bg);
    // color: #fff;
  }

  .\@page-notification\:warningNotification\@ {
    // background-color: rgba(242, 137, 46, 0.14);
    background-color: var(--suite-theme-bg-lite);
  }

  // .\@page-notification\:infoNotification\@ .\@page-notification\:notificationIcon\@ {
  //   color: currentColor;
  // }

  // .\@page-notification\:warningNotification\@ .\@page-notification\:notificationIcon\@ {
  //   color: #f89406;
  // }

  // .\@page-notification\:content\@ {
  //   color: currentColor;
  // }

  // .\@page-notification\:closeButton\@ {
  //   background: transparent;
  //   color: currentColor;
  // }

  // ._2bCX4v_d {
  //   color: #e5231f;
  // }

  // .\@user-account-person-verification\:personsDescription\@ {
  //   color: #9aa9b7;
  // }

  // ._7HO4Le6K {
  //   color: #9aa9b7;
  // }

  .\@passcode-indicator\:passCodeIndicatorItem\@ {
    background-color: var(--suite-theme-border-color);
  }

  .\@passcode-indicator\:passCodeIndicatorItemActive\@ {
    background-color: var(--suite-theme-color-accent-bg);
  }

  .\@passcode-indicator\:passCodeIndicatorItemActive\@:after {
    background-color: var(--suite-theme-bg);
  }

  .\@passcode-keyboard\:keyboardButton\@ {
    // background: transparent;
    border-bottom-color: var(--suite-theme-border-color);
  }

  .\@passcode-keyboard\:keyboardButton\@:active {
    background-color: var(--suite-theme-border-color);
  }

  // .\@passcode-keyboard\:keyboardButton\@:nth-child(10),
  // .\@passcode-keyboard\:keyboardButton\@:nth-child(12) {
  //   border-bottom-color: transparent;
  // }

  .\@passcode-keyboard\:keyboardButtonIcon\@ {
    color: var(--suite-theme-color);
  }

  ._255dB75- {
    border-bottom-color: var(--suite-theme-border-color);
  }

  .\@passcode\:userSelectControlIcon\@ {
    color: var(--suite-theme-color-accent-bg);
  }

  // .\@passcode\:userSelectControlToggleIcon\@ {
  //   color: #9aa9b7;
  // }

  .\@passcode\:biometricAuthModalImgWrapper\@ {
    background-color: var(--suite-theme-bg);
    box-shadow: 0 0 16px 1px var(--suite-theme-color-accent-bg);
  }

  .\@input\:input\@ {
    border-color: var(--suite-theme-border-color);
    color: var(--suite-theme-color);
    background-color: var(--suite-theme-bg-lite);
  }

  .\@input\:input\@:focus {
    border-color: var(--suite-theme-color-accent-bg);
    box-shadow: inset 0 0 0 1px var(--suite-theme-color-accent-bg);
  }

  // .\@input\:inputWithError\@ {
  //   border-color: #e5231f;
  //   box-shadow: inset 0 0 0 1px #e5231f;
  // }

  .\@input\:inputHint\@ {
    color: var(--suite-theme-color-accent-bg);
  }

  // ._1YeleNA1 {
  //   color: #e5231f;
  // }

  // .\@password-input\:toggleButtonIcon\@ {
  //   caret-color: inherit;
  //   color: #9aa9b7;
  // }

  // @media (any-hover: hover),
  //   all and (-moz-touch-enabled: 0),
  //   all and (pointer: fine) {
  //   .\@password-input\:toggleButton\@:focus {
  //     background-color: rgba(0, 0, 0, 0.1);
  //   }
  // }

  // ._3nsvRz94:-webkit-autofill {
  //   box-shadow: inset 0 0 0 992px #fff;
  // }

  // .\@password-login\:passwordResetLink\@ {
  //   color: #9aa9b7;
  // }

  @media (any-hover: hover),
    all and (-moz-touch-enabled: 0),
    all and (pointer: fine) {
    .\@password-login\:passwordResetLink\@:hover {
      color: var(--suite-theme-color-accent-bg);
    }
  }

  // .\@user-activation-result\:titleIcon\@ {
  //   color: #9aa9b7;
  // }

  // .\@user-activation-result\:titleSubIcon\@ {
  //   color: #2ecc71;
  // }

  .\@users\:userActionsItem\@ {
    background: transparent;
    color: var(--suite-theme-color-accent-bg);
  }

  // .\@users\:userActionsItem\@ + .\@users\:userActionsItem\@ {
  //   color: #9aa9b7;
  // }
}
